.header-cart-section{
    position: absolute;
    width: 280px;
    right: -1rem;
    top: 2.5rem;
    .header-cart-section-in {
        position: relative;
        background: #fff;
        border: 1px solid #b8b8b8;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 3px #9c9c9c3d;
    }
    .header-cart-section-in:after, .header-cart-section-in:before {
        bottom: 100%;
        left: calc(100% - 30px);
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .header-cart-section-in:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 10px;
        margin-left: -10px;
    }
    .header-cart-section-in:before {
        border-color: rgba(184, 184, 184, 0);
        border-bottom-color: #b8b8b8;
        border-width: 11px;
        margin-left: -11px;
    }
    h5{
        margin: 0px;
        padding: 0px;
        font-weight: 500;
        color: #007fde;
    }
}


.add-cart-items{
    margin-bottom: 10px;
    .add-cart-items-list{
        margin-top: 10px;
        border-bottom: 1px solid #b8b8b8;
        
        .add-cart-item-img{
            width: 20%;
        }
        .add-cart-item-content{
            width: 80%;
            padding-left: 10px;
            strong{
                font-weight: 500;
                font-size: 13px;
                white-space: nowrap;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            ul{
                display: flex;
                align-items: center;
                margin: 0px;
                padding: 0px;
                list-style: none;
                li{
                    margin: 0px;
                    padding: 0px;
                    font-size: 12px;
                    &:first-child{
                        color: #FE6C0B;  
                    }
                    &:last-child{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
.primary-btn{
    padding: 5px 16px;
}