<div class="header-cart-section">
    <div class="header-cart-section-in">
       <h5 *ngIf="!show">Add to cart items</h5>
       <div class="add-cart-items">
         <div *ngIf="show">Cart empty</div>
        <div class="add-cart-items-list" *ngFor="let item of cartList">
            <div class="custom-row">
               <div class="add-cart-item-img">
                <img src="http://localhost:3200/upload/{{item.image}}" width="100%"
                alt="{{item.name}}" />
               </div>
               <div class="add-cart-item-content">
                   <strong>{{item.name}}</strong>
                   <ul>
                     <li>Price: {{item.price | currency}}</li>
                     <li>QTY: {{item.qty}}</li>
                   </ul>
                   <span></span>
               </div>
            </div>
        </div>
       </div>
       <div class="flex-center" *ngIf="!show">
         <div class="item-right">
            <a routerLink="/users/checkout" class="primary-btn">Checkout</a>
         </div>
          
       </div>
    </div>
</div>