<div class="container profile-section">
    <div class="title-row">
        <h1 class="title">{{this.authServiceService.loginUser.name | titlecase}}</h1>
        <div class="title-row-right">
            <button type="button" class="btn btn-primary">Add Data</button>
        </div>
    </div>
    <div class="profile-section-btm">
        <div class="custom-row">
            <div class="profile-section-sidebar">
                <ul>
                    <li [ngClass]="{'active': tabList.value.id===this.zIndex}" (click)="toggleTab(tabList.value.id)" *ngFor="let tabList of tabList | keyvalue; let index = index;" >
                       <span>{{tabList.value.label}}</span> 
                    </li>
                    
                </ul>
            </div>
            <div class="profile-section-content">
                <app-profile-ingo *ngIf="isActive === true || sectionIds.PROFILE === this.zIndex"></app-profile-ingo>
                <app-profile-food *ngIf="sectionIds.FOOD === this.zIndex"></app-profile-food>
                <app-profile-activity *ngIf="sectionIds.ACTIVITY === this.zIndex"></app-profile-activity>
            </div>
        </div>
        
    </div>
</div>
