.profile-section-btm {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .profile-section-sidebar {
        width: 200px;
        background-color: #fff;
        padding: 10px;

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                margin: 0px;
                padding: 5px;
                cursor: pointer;
                span{
                    display: block;
                    font-size: 14px;
                    color: #000;
                }

                &.active {
                    span{ 
                        color: #1ab1ff;  
                    }
                }
            }
        }
    }

    .profile-section-content {
        width: calc(100% - 200px);
        padding-left: 20px;
    }
}