<div class="container user-all-date-data">
    <div class="title-row">
        <h1 class="title">{{this.authServiceService.loginUser.name | titlecase  }}</h1>
        <div class="title-row-right">
            <button type="button" (click)=" openModalWithComponent()" class="btn btn-primary">Add Data</button>
        </div>
    </div>
    <div class="date-input-card">
        <div class="date-input">
            <app-search-by-date class="global-date" (dateSearchTriggered)="searchByDate($event)" [panelClass]="'vimal'"></app-search-by-date>
        </div>
    </div>
    <div class="user-list ">
        <div class="white-card">
           <app-profile-activity [viewBtnShow]="true" [searchText]="this.searchDate"></app-profile-activity>
        </div>
        <div style="height: 50px;"></div>
        <div class="white-card">
           <app-profile-food [viewBtnShow]="true" [searchText]="this.searchDate"></app-profile-food>
        </div>
    </div>
</div>

