<section class="page-filter-section">
    <div class="container">
        <div class="page-filter-section-top">
            <div class="custom-row flex-center">
                <div class="page-filter-section-top-left">
                    <h1>{{userData.first_name | titlecase}} {{userData.last_name | titlecase}}</h1>
                </div>
                <div class="page-filter-section-top-right flex-center-right">
                    <button class="primary-outline-btn" (click)="popHideShow = !popHideShow">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="account-page">
    <div class="container">

        <div class="custom-row">
            <div class="account-page-left">
                <ul>
                    <li *ngFor="let userStatusLinks of userStatusLinks; let idx = index">
                        <button (click)="toggle(idx)">{{userStatusLinks.label}}</button>
                    </li>

                </ul>
            </div>
            <div class="account-page-rigth">
                <app-user-info *ngIf="index === -1 || index === 0"></app-user-info>
                <app-get-orders-list *ngIf="index === 1"></app-get-orders-list>
                <app-seller-product *ngIf="index === 2"></app-seller-product>
            </div>
        </div>
    </div>
</div>
<div class="pop-outer" [ngClass]="popHideShow ? 'show':'' ">
    <div class="pop-in">
        <button (click)="popHideShow = !popHideShow" class="pop-close"></button>
        <div class="pop-heading">
            <h1>Add Product</h1>
        </div>
        <div class="pop-body"><app-add-product></app-add-product></div>
    </div>
    
</div>


