<div class="admin-blog-page">
    <div class="status-ul">
        <ul class="action-check">
            <li><button [ngClass]="buttonStatus === 'active' ? 'active':'' " (click)="checkButton('active')">Active
                    ({{countActive}})</button></li>
            <li><button [ngClass]="buttonStatus === 'inactive' ? 'active':'' "
                    (click)="checkButton('inactive')">Inactive ({{countInActive}})</button></li>
        </ul>
    </div>
    <div class="bottom-content">
        <div class="blog-list" *ngFor="let items of blogItems; let itemsIndex = index">
            <div class="row">
                <div class="blog-img">
                    <img src="http://localhost:2300/upload/{{items.image[0]}}" alt="" />
                </div>
                <div class="blog-content">
                    <h3 class="blog-name">{{items.name}}</h3>
                    <ul class="blog-info">
                        <li><strong>Author:-</strong> {{items.author}}</li>
                        <li><strong>Email:-</strong> {{items.email}}</li>
                        <li><strong>Date:-</strong> {{items.createdAt | date: 'dd, MMMM, yyyy'}}</li>
                        <li><strong>Comments:-</strong>
                            <span *ngFor="let count of items.comment_count">
                                {{count.count}}
                            </span>
                            <span *ngIf="items.comment_count.length === 0">0</span>
                        </li>
                    </ul>
                    <p>{{items.description}}</p>
                    <button
                        (click)="changeStatus(items._id, buttonStatus === 'active' ? 'inactive':'active' )">{{buttonStatus
                        === 'active' ? 'Inactive':'Active'}}</button>
                </div>
            </div>
        </div>
        <div class="pagination-box" *ngIf="count > limit">
            <pagination [totalItems]="count" [(ngModel)]="currentPage" [maxSize]="10" [itemsPerPage]="10"
                (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>