
<section class="pages__filter">
    <div class="full-width"> 
      <div class="pages__filter__top"><h1>Admin</h1></div>
      <div class="pages__filter__bottom">
       <ul class="action-check">
          <li><button [ngClass]="buttoncomponentStatus ==='blogs' ? 'active':'' " (click)="checkButton('blogs')">Blogs</button></li>
          <li><button [ngClass]="buttoncomponentStatus ==='comments' ? 'active':'' " (click)="checkButton('comments')">Comments</button></li>
       </ul>
      </div>
    </div>
</section>
<section class="pages__content">
  <div class="page-width">
     <app-blogs *ngIf="buttoncomponentStatus ==='blogs'"></app-blogs>
     <app-comments *ngIf="buttoncomponentStatus ==='comments'"></app-comments>
  </div>
</section>