.status-ul{
    margin: 1rem 0;
    .action-check{
        justify-content: flex-end;
    }
}
.blog-list{
    margin-bottom: 1rem;
    .blog-img{
        width: 15%;
        img{
            display: block;
            width: 100%;
        }
    }
    .blog-content{
        width: calc(100% );
        padding-left: 3%;
        h3{
            margin: 0px;
            padding: 0px;
        }
        ul{
            margin: 10px 0 0 0;
            padding: 0px;
            list-style: none;
            display: flex;
            li{
                margin: 0 10px 0 0;
                padding: 0px;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
}