<div class="admin-blog-page">
    <div class="status-ul">
        <ul class="action-check">
            <li><button [ngClass]="buttonStatus === 'active' ? 'active':'' "
                    (click)="checkButton('active')">Active ({{countActive}})</button></li>
            <li><button [ngClass]="buttonStatus === 'inactive' ? 'active':'' "
                    (click)="checkButton('inactive')">Inactive ({{countInActive}})</button></li>
        </ul>
    </div>
    <div class="bottom-content">
        <div class="not-found" *ngIf="commentsItems && !commentsItems.length">Comment item not found</div>
        <div class="blog-list" *ngFor="let items of commentsItems; let itemsIndex = index">
            <div class="row">
                
                <div class="blog-content">
                    <h3 class="blog-name">{{items.blog_name.name}}</h3>
                    <ul class="blog-info">
                        <li><strong>Comment Author:-</strong> {{items.name}}</li>
                        <li><strong>Email:-</strong> {{items.email}}</li>
                        <li><strong>Phone:-</strong> {{items.phone_number}}</li>
                        <li><strong>Date:-</strong> {{items.createdAt | date: 'dd, MMMM, yyyy'}}</li>
                    </ul>
                    <p>{{items.description}}</p>
                    <button (click)="changeStatus(items._id, buttonStatus === 'active' ? 'inactive':'active' )">{{buttonStatus === 'active' ? 'Inactive':'Active'}}</button>
                </div>
            </div>
        </div>
        <div class="pagination-box" *ngIf="count > limit">
            <pagination [totalItems]="count" [(ngModel)]="currentPage" [maxSize]="10" [itemsPerPage]="10"
                (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>
