<div class="add-user-data">
    <div class="add-user-data--top">
        <ul>
            <li><button (click)="showActivityForm()" [ngClass]="this.isShow === true ? 'active' : [] ">Add Activity</button></li>
            <li><button (click)="showFoodForm()" [ngClass]="this.isShow === false ? 'active' : [] ">Add Food</button></li>
        </ul>
    </div>
    <div class="add-user-data--btm">
        <div *ngIf="this.isShow === true; then addActivityForm"></div>
        <div *ngIf="this.isShow === false; then addFoodForm"></div>
    </div>
</div>

<ng-template #addActivityForm>
   <div class="add-activity-form">
    <form [formGroup]="activityForm" >
       
        <div class="input-field">
            <label>Select Date</label>
            <input type="text" placeholder="Activity date" formControlName="activity_date" bsDatepicker  />
            <div *ngIf="activityFormError.activity_date.invalid && (activityFormError.activity_date.dirty || submitted )"  class="custom_error">
                <div *ngIf="activityFormError.activity_date.errors.required">Activity date is required</div>
            </div>
        </div>

         <div class="input-field">
            <label>Activity Name</label>
            <select class="selectbox" formControlName="activity_name"  (change)="getActivityDescription()">
                <option value="" selected disabled>Activity Name</option>
                <option *ngFor="let activityName of activityName" value="{{activityName.activity_name}}">{{activityName.activity_name}}</option>
            </select>
            <div *ngIf="activityFormError.activity_name.invalid && (activityFormError.activity_name.dirty || submitted )"  class="custom_error">
                <div *ngIf="activityFormError.activity_name.errors.required">Activity Name is required</div>
            </div>
        </div>

        <div class="input-field">
            <label>Activity Description</label>
            <select class="selectbox" formControlName="activity_des" name="activityDescription" placeholder="Activity Duration in minutes">
               <option value="" selected disabled>Activity Description</option>
                <option *ngFor="let activityDescription of this.getActivityDescriptionObj" value="{{activityDescription._id}}">
                    {{activityDescription.activity_description}}
                </option>
            </select>
            <div *ngIf="activityFormError.activity_des.invalid && (activityFormError.activity_des.dirty || submitted )"  class="custom_error">
                <div *ngIf="activityFormError.activity_des.errors.required">Activity Description is required</div>
            </div>
            
        </div>

        <div class="input-field">
            <label>Activity Duration</label>
            <input type="number" placeholder="Activity Duration in minutes" formControlName="activity_duration" (change)="getActivityMetsFun()" />
            <div *ngIf="activityFormError.activity_duration.invalid && (activityFormError.activity_duration.dirty || submitted )"  class="custom_error">
                <div *ngIf="activityFormError.activity_duration.errors.required">Activity Duration is required</div>
            </div>
        </div>

        <div class="input-field">
            <label>MET Value</label>
            <input type="text" value="" placeholder="Value" formControlName="met_value" readonly />
        </div>
        
        <div class="input-field input-field-btn btn-set--center">
            <button class="btn btn-primary" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
            <button class="btn btn-primary" (click)="activityFormSubmit()">Save</button>
        </div>

    </form> 
   </div> 
</ng-template>

<ng-template #addFoodForm>
    <div class="add-food-form">
       <form [formGroup]="foodForm" (ngSubmit)="foodFormSubmit()">
            <div class="input-field">
                <label>Select Date</label>
                <input type="text" value="06/24/2022" placeholder="Age" formControlName="add_food_date" bsDatepicker />
            </div>

            <div class="input-field">
                <label>Select Meal Type</label>
                <select class="selectbox" formControlName="food_type" (change)="getFoodGroup()">
                
                    <option value="" selected disabled>Select Meal Type</option>
                    <option *ngFor="let foodTypeList of foodTypeList">
                        {{foodTypeList.type}}
                    </option>
                </select>
            </div>

            <div class="input-field">
                <label>Select Food Group</label>
                <select class="selectbox" formControlName="food_group" (change)="getFoodName()">
                    <option value="" selected disabled>Select Food Group</option>
                    <option *ngFor="let getFoodGroupName of getFoodGroupName" >{{getFoodGroupName.group}}</option>
                </select>
            </div>

            <div class="input-field">
                <label>Select Food Name</label>
                <select class="selectbox" formControlName="food_name" >
                    <option value="" selected disabled>Select Food Name</option>
                    <option *ngFor="let getFoodName of getFoodNameList">{{getFoodName.name}}</option>
                </select>
            </div>

           
            
            <div class="input-field">
                <label>Serving</label>
                <input type="number" placeholder="Serving" formControlName="serving" (change)="getFoodCalories()" />
            </div>

            <div class="input-field">
                <label>Calories In</label>
                <input type="text" placeholder="Calories In" formControlName="calorie_in" readonly />
            </div>

            <div class="input-field input-field-btn btn-set--center">
                <button  class="btn btn-primary" >Save</button>
            </div>
        </form>
    </div>
</ng-template>
