.add-user-data{
    .add-user-data--top{
        border-bottom: 1px  #b8b8b8 solid;
        padding: 10px 10px 0 10px;
        ul{
            list-style: none;
            margin: 0;
            padding: 0px;
            display: flex;
            li{
                margin: 0px;
                padding: 0px;
                button{
                    background: transparent;
                    padding: 5px 15px;
                    cursor: pointer;
                    font-size: 14px;
                    color: #b8b8b8;
                    border: 1px  #b8b8b8 solid;
                    border-bottom: 0px;
                    border-radius: 5px 5px 0 0;
                    margin-right: 10px;
                    &.active{
                        color: #007fde;
                    }
                }
            }
        }
    }
    .add-user-data--btm{
        padding: 10px;
        min-height: 150px;
    }
}