.header{
    background: $white;
    padding: 15px 0;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    .logo{
        width: 130px;
        img{
            width: 100%;
            display: block;
        }
    }
    .main-nav{
        margin-left: auto;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            li{
                margin: 0 0 0 15px;
                padding: 0px;
                a{
                   display: block;
                   font-size: 16px; 
                }  
            }
        }
    }
}