<div class="profile-food-section white-bg padding1rem">
    <h2 class="gray-h2">All Food Data</h2>
    <div class="">
        <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
            <thead>
                <tr>
                    <th scope="col" style="width:10%;">Date</th>
                    <th scope="col" style="width:50%;">Name</th>
                    <th scope="col" style="width:10%;">Group</th>
                    <th scope="col" style="width:7%;">Serving</th>
                    <th scope="col" style="width:7%;">Calorie In</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="this.sAttributes.foodDataNotFound === true">
                    <td colspan="7">Data not found</td>
                </tr>
                <tr *ngFor="let userFoodData of userFoodData">
                    <td scope="row">{{userFoodData.add_food_date}}</td>
                    <td data-label="Name">{{userFoodData.food_name}}</td>
                    <td data-label="Group">{{userFoodData.food_group}}</td>
                    <td data-label="Serving">{{userFoodData.serving}}</td>
                    <td data-label="Calorie In">{{userFoodData.calorie_in}}</td>
                    <td data-label="Action">
                        <div class="btn-set">
                          <a class="btn-secondary" *ngIf="viewBtnShow === true" (click)="sendDate(userFoodData.add_food_date)" routerLink="user-details" >View</a>
                          <button class="btn btn-primary" (click)="deleteFoodData(userFoodData._id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>