.login-page {
  display: flex;
  align-items: center;
  height: 100vh;

  .login-page-left {
    width: 50%;
    padding-right: 10%;
    display: flex;
    align-items: center;

    h1 {
        margin: 1.5rem 0 0 0;
        padding: 0px;
        font-weight: 300;
        font-size: 1.3rem;
        color: #898989;
    }
  }

  .login-page-right {
    width: 40%;

    .login-page-content {
      background: #fff;
      border-radius: 5px;
      padding: 1rem;
      box-shadow: 0 0 4px rgba(0, 0, 0, .4);

      .login-form {
        .fill-orange-btn {
          width: 100%;
        }
      }

      .sign-up-btn-in-login-page {
        border-top: 1px solid #c1c1c1;
        padding-top: 1rem;
        margin-top: 1rem;
        text-align: center;

        .outline-blue-btn {
          width: 60%;
        }
      }
    }
  }
}
.sign-up-page{
  .fill-orange-btn{
    width: 100%;
  }
}