<div class="login-page">
    <div class="container">
        <div class="block-row">
            <div class="login-page-left">
                <div class="login-page-left-content">
                    <div class="login-page-logo"><img src="../../../assets/img/logo.png" alt="" /></div>
                    <h1>Weelbux helps you connect and share with the people in your life.</h1>
                </div>
            </div>
            <div class="login-page-right">
                <div class="login-page-content">
                    <div class="login-form">
                        <form [formGroup]="signInForm" (ngSubmit)="signInSubmit()">
                            <div class="input-box">
                                <input type="text" placeholder="email" formControlName="email" />
                                <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                </div>
                            </div>
                            <div class="input-box">
                                <input type="password" placeholder="password" formControlName="password" />
                                <div *ngIf="f.password.invalid && (f.password.dirty || submitted )"  class="custom_error">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                </div>
                            </div>
                            <div class="submit-box">
                                <button class="fill-orange-btn">Log In</button>
                            </div>
                        </form>
                        
                        <div class="sign-up-btn-in-login-page">
                            <button class="outline-blue-btn" (click)="showPop()">Create new account</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="isPopShow" #signUp>
  <div class="pop-outer">
    <div class="pop-content">
        <button class="pop-close-btn" (click)="popClose()">Close</button>
        <div class="pop-header">
            <h1>Sign Up</h1>
        </div>
        <div class="pop-body">
            <div class="sign-up-page">
                <form [formGroup]="signUpForm" (ngSubmit)="signUpSubmit()">
                    <div class="input-box">
                        <input type="text" placeholder="username" formControlName="username" />
                        <div *ngIf="f.username.invalid && (f.username.dirty || submitted )"  class="custom_error">
                            <div *ngIf="f.username.errors.required">username is required</div>
                        </div>
                    </div> 
                    <div class="input-box">
                        <input type="text" placeholder="email" formControlName="email" />
                        <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                            <div *ngIf="f.email.errors.required">email is required</div>
                        </div>
                    </div> 
                    <div class="input-box">
                        <input type="password" placeholder="password" formControlName="password" />
                        <div *ngIf="f.password.invalid && (f.password.dirty || submitted )"  class="custom_error">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div class="submit-box">
                        <button class="fill-orange-btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</ng-container>
