<div class="user-profile-info">
    <ul>
        <li>
            <strong>Name</strong> {{userData.first_name}} {{userData.last_name}}
        </li>
        <li>
            <strong>Email</strong> {{userData.user_email}}
        </li>
        <li>
            <strong>Gender</strong> {{userData.gender}}
        </li>
        <li>
            <strong>Phone number</strong> {{userData.phone_number}}
        </li>
        <li>
            <strong>Address</strong> {{userData.address}}
        </li>
        <li>
            <strong>User type</strong> {{userData.user_type}}
        </li>
    </ul>
</div>
