<div class="profile-activity-section white-bg padding1rem">
    <h2 class="gray-h2">All Activity Data</h2>
    <div class="">
        <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">MET Value</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Calorie Out</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngIf="this.sAttributes.activityDataNotFound === true">
                    <td colspan="7">Data not found</td>
                </tr>
                <tr *ngFor="let userActivityData of userActivityData">
                    <td scope="row">{{userActivityData.activity_date}}</td>
                    <td data-label="Name">{{userActivityData.activity_name}}</td>
                    <td data-label="Description">{{userActivityData.activity_des}}</td>
                    <td data-label="MET Value">{{userActivityData.met_value}}</td>
                    <td data-label="Duration">{{userActivityData.activity_duration}}</td>
                    <td data-label="Calorie Out">{{userActivityData.calorie_out}}</td>
                    <td data-label="Action">
                        <div class="btn-set">
                          <a class="btn-secondary" *ngIf="viewBtnShow === true" (click)="sendDate(userActivityData.activity_date)" routerLink="user-details" >View</a>
                          <button class="btn btn-primary" (click)="deleteActivityData(userActivityData._id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>