<section class="categories-page  padding-btm-1">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Categories</h1>
                    </div>
                    <div class="page-filter-section-top-right flex-center-right">
                       <button class="secondary-btn" (click)="addCategoriesFormShowBtn()">Add Categories</button>
                    </div>
                </div>
            </div>

            
        </div>
    </section>
    <section class="add-categories-section" *ngIf="isAddCategoriesFormShow">
        <div class="container">
            <div class="white-card gray-box-shadow padding-2">
                <h2>Add Categories</h2>
                <div *ngIf="isAddCategoriesFormShow; then addCategories"></div>
            </div>
            
        </div>
    </section>
    <section class="page-content padding-top-2">
        <div class="container">
            <div class="categories-box" *ngFor="let categoriesList of categoriesList">
                <div class="white-card gray-box-shadow padding-1 margin-btm-1">
                    <h3>{{categoriesList.name}}</h3>
                    <p>{{categoriesList.description}}</p>
                </div>
            </div>
        </div>
    </section>



</section>
<ng-template #addCategories>
    <div class="main-form">
        <form [formGroup]="addCategoriesForm" (ngSubmit)="submit()">
            <div class="input-item">
                <input type="text" value="" placeholder="Name" formControlName="name" />
                <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.name.errors.required">Categories is required</div>
                </div>
            </div>
            <div class="input-item">
                <textarea placeholder="Description" formControlName="description"></textarea>
                <div *ngIf="f.description.invalid && (f.description.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.description.errors.required">Categories description is required</div>
                </div>
            </div>
            <div class="form-submit justify-content-center">
                <button class="primary-btn" (click)="closeBox()">Cancel</button>
                <div class="space-20"></div>
                <button class="secondary-btn">Add</button>
            </div>
        </form>
    </div>
</ng-template>
