.add-categories-section{
    padding: 2rem 0;
    h2{
        margin: 0 0 1rem 0;
        padding: 0px;
        font-size: 1rem;
    }
}

.categories-box{
    h3{
        margin: 0px;
        padding: 0px;
        font-size: 1rem;
        font-weight: 500;
    }
    p{
       margin: 5px 0 0 0;
    }
}