<section class="product-list-section padding-top-2 padding-btm-2">
    
    <div class="container">
        <div class="custom-row">
            <div class="product-card" *ngFor="let productList of productList; let idx = index">
                <div class="white-card gray-box-shadow">
                    <div class="product-image-card">
                        <a routerLink="/product/${{productList._id}}">
                            <img src="http://localhost:3200/upload/{{productList.image}}" width="100%"
                            alt="{{productList.name}}" />
                        </a>
                    </div>
                    <div class="product-image-content">
                        <h3>{{productList.name}}</h3>
                        <span>{{productList.price | currency}}</span>
                        <div class="product-btn-card">
                            <a routerLink="/product/${{productList._id}}" class="secondary-btn">View Details</a>
                            <div class="box-align-right" *ngIf="showAddToCartButton"> <app-add-to-cart-button [sendData]="productList" (cartStatus)="getStatus($event, idx)"></app-add-to-cart-button></div>
                        </div>
                        <div class="message" class="{{className}}" *ngIf="show && index === idx">
                            {{cartMessage}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{this.limitCount}}
        <div class="load-more">
            <button (click)="loadMore()" class="primary-outline-btn">Load More</button>
        </div>
    </div>
</section>