:root {
     /* Color */
    --primary-color: #1ab1ff;
    --secondary-color: #3498db;
    --white-color: #fff;
    --black-color: #000;
    --body-bg: #f4f7fc;
    --border-border-color: #dcdcdc;
    --input-text-color: #333333;
    /* Font Size */
    --primary-size: 1.1rem;
  }

  .error-message{
    background-color: rgb(248, 168, 168);
    border: 1px rgb(248, 123, 123) solid;
    border-radius: 5px;
    padding: 5px 16px;
    color: rgb(78 2 2);

  }

  .success-message{
    background-color: rgb(144, 238, 194);
    border: 1px rgb(77, 221, 166) solid;
    border-radius: 5px;
    padding: 5px 16px;
    color: rgb(0, 136, 18);
  }