<section class="message-page padding-top-2 padding-btm-2">
    <div class="container">
       <div class="message-box padding-1 white-card margin-top-1 gray-box-shadow">
          This is message
       </div>
    </div>
  </section>