<div class="status-links">
    <ul>
        <li *ngFor="let statusItems of orderStatusType">
            <button [ngClass]="btnActive === statusItems.label ? 'active':'' " (click)="sendUserStatus(statusItems.label)">{{statusItems.label}}</button>
        </li>
    </ul>
</div>

<div class="seller-order-list">
  <div class="white-card gray-box-shadow padding-1 margin-top-1 seller-product-list" *ngFor="let items of orderItemList; let idx = index">

    <div class="ordered-product">
        <div class="flex-card">
            <div class="flex-card-img">
                <img src="http://localhost:3200/upload/{{items.order_item.image}}" width="100%"
                    alt="{{items.order_item.name}}" />
            </div> 
            <div class="flex-card-content">
                <h3>{{items.order_item.name}}</h3>
                <ul>
                    <li>
                       <strong>QTY </strong> {{items.order_item.qty}}
                    </li>
                    <li>
                        <strong> Price </strong>  {{items.order_item.price}}
                    </li>
                   
                    <li>
                        <strong>User </strong> {{items.user_details.name.first_name}} {{items.user_details.name.last_name}}
                     </li>
                     <li>
                        <strong> User Email </strong>  {{items.user_details.email}}
                    </li>
                     <li class="address-width">
                        <strong> Address </strong>  {{items.user_details.address}}
                    </li>
                    <li>
                        <strong> Phone </strong>  {{items.user_details.phone_number}}
                    </li>
                    <li>
                        <strong> Status </strong>  {{items.order_item.status | titlecase}}
                    </li>
                </ul>
               
                <div class="product-status-change" *ngIf="items.order_item.status === 'Process' || items.order_item.status === 'Pending'">
                    <button class="success-btn" (click)="sellerProductUpdate(items, 'Success')">Success</button>
                    <button class="process-btn" [hidden]="items.order_item.status === 'Process'" (click)="sellerProductUpdate(items, 'Process')">Process</button>
                    <button class="cancelled-btn" (click)="sellerProductUpdate(items, 'Cancelled')">Cancelled</button>
                </div>
            </div>
            
        </div>
      
    </div>
   
  </div>
</div>
