.flex-card-content ul{
    align-items: flex-start;
    li{
        strong{
            display: block;
        }
    }
}

.flex-card-content h3{
    font-weight: 500;
    margin-bottom: 8px;
}

.address-width{
    max-width: 250px;
}
.seller-order-list{
    .margin-top-1{
        &:first-child{
            margin-top: 0px;
        }
    }
}


.product-status-change{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 1px #c6c6c6 solid;
    padding-top: 10px;
    button{
        margin-right: 1rem;
        &:last-child{
            margin-right: 0;
        }
    }
}