<div class="container">
    <div class="title-row">
        <h1 class="title">{{this.userName}}</h1>
        <div class="title-row-right">
            <button type="button" (click)="openModalWithComponent()" class="btn btn-primary">Add Data</button>
        </div>
    </div>
    <div class="view-calorie-data">
        <div class="view-calorie-data-date-input">
           
            <app-search-by-date class="global-date" (dateSearchTriggered)="searchByDate($event)" [panelClass]="'vimal'"></app-search-by-date>

            <div class="show-selected-date">
                Date : - {{this.searchDate}}
            </div>
        </div>
        <div class="view-calorie-data-chart">
            <div class="food-data white-card">
                <h2>Food Data</h2>
                <div class="food-data-table">
                    <table
                        class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Meal Type</th>
                                <th scope="col">Food Group</th>
                                <th scope="col">Serving</th>
                                <th scope="col">Calorie In</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userFoodData of userFoodData">
                                <td scope="row">{{userFoodData.add_food_date}}</td>
                                <td data-label="Name">{{userFoodData.food_name}}</td>
                                <td data-label="Group">{{userFoodData.food_group}}</td>
                                <td data-label="Serving">{{userFoodData.serving}}</td>
                                <td data-label="Calorie In">{{userFoodData.calorie_in}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="foodMessageShow === false">
                            <tr>
                                <td colspan="6" style="text-align: center;">Data not found</td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="activity-data white-card">
                <h2>Activity Data</h2>
                <div class="activity-data-table">
                    <table
                        class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">MET Value</th>
                                <th scope="col">Duration</th>
                                <th scope="col">Calorie Out</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let userActivityData of userActivityData">
                                <td scope="row">{{userActivityData.activity_date}}</td>
                                <td data-label="Name">{{userActivityData.activity_name}}</td>
                                <td data-label="Description">{{userActivityData.activity_des}}</td>
                                <td data-label="MET Value">{{userActivityData.met_value}}</td>
                                <td data-label="Duration">{{userActivityData.activity_duration}}</td>
                                <td data-label="Calorie Out">{{userActivityData.calorie_out}}</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="activeMessageShow === false">
                            <tr>
                                <td colspan="6" style="text-align: center;">Data not found</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="net-calorie-data white-card">
                <h2>Net Calorie</h2>
                <div class="net-calorie-table">
                    <div class="net-calorie-row">
                        <strong>BMR: </strong>
                        <span>{{userBmr}}</span>
                    </div>
                   
                    <div class="net-calorie-row">
                        <strong>Food: </strong>
                        <span>{{totalCalorieIn}}</span>
                    </div>
                    <div class="net-calorie-row">
                        <strong>Activity: </strong>
                        <span>{{totalCalorieOut}}</span>
                    </div>
                    <div class="net-calorie-row net-calorie-totl">
                        <strong>Net Calorie:</strong>
                        <span>{{netCalorie}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>