<section class="admin admin-order-page  padding-btm-2">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Orders</h1>
                    </div>
                    <div class="page-filter-section-top-right">
                        <div class="search">
                            <app-search class="global-date" (dateSearchTriggered)="searchByText($event)"
                                [panelClass]="'vimal'" [placeholder]="'Search by email'"></app-search>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-filter-section-btm">
                <div class="custom-row">
                    <div class="page-filter-section-btm-left">
                        <div class="status-links">
                            <ul>
                                <li *ngFor="let statusItems of orderStatusType">
                                    <button [ngClass]="btnActive === statusItems.label ? 'active':'' " (click)="sendUserStatus(statusItems.label)">
                                        {{statusItems.label}} ({{statusItems.count}})
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-filter-section-btm-right"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="not-found-section" *ngIf="this.sAttributes.messageShow; ">{{this.sAttributes.notFoundMessage}}
            </div>
            <div class="order-list padding-1 white-card margin-top-1 gray-box-shadow"
                *ngFor="let items of orderItems; let orderIndex = index">
                <div class="order-info-top">
                    <strong>Order ID:- {{items._id}}</strong>
                    <div class="order-time"> {{items.createdAt | date:'dd MMMM, yyyy'}}</div>
                </div>
            

                <div class="order-list-section margin-top-1 white-card gray-box-shadow">
                    <div class="flex-card">
                        <div class="flex-card-img">
                            <img class="img" src="http://localhost:3200/upload/{{items.order_item.image}}"
                                alt="{{items.order_item.name}}" />
                        </div>
                        <div class="flex-card-content">
                            <h3>{{items.order_item.name}}</h3>
                            <ul>
                                <li>
                                    <strong>Price :-</strong> {{items.order_item.price}}
                                </li>
                                <li>
                                    <strong>Qty :-</strong> {{items.order_item.qty}}
                                </li>
                                <li>
                                    <strong>price :-</strong> {{items.order_item.price}}
                                </li>
                                <li>
                                    <strong>status :-</strong> {{items.order_item.status}}
                                </li>
                                <li>
                                    <button (click)="viewSeller(items.order_item.seller_id, orderIndex)"
                                        class="primary-outline-btn">View Seller</button>
                                </li>
                                <li>
                                    <button (click)="viewUser(items.user_id, orderIndex)"
                                        class="primary-outline-btn">View User</button>
                                </li>
                            </ul>
                            <p>{{items.order_item.description | slice: 0:100}} {{ items.order_item.description.length > 100 ?
                                '...' : ''}}</p>
                            <div *ngIf="sellerIdx === orderIndex ; then sellerInfoSection"></div>
                            <div *ngIf="userIdx === orderIndex ; then userInfoSection"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<ng-template #userInfoSection>
    <div class="seller-info-section">
        <h4>View User Details</h4>
        <ul *ngFor="let userInfoItems of userInfo">
          <li >
              <strong>Seller name </strong>  {{userInfoItems.name.first_name}}  {{userInfoItems.name.last_name}}
          </li>
          <li>
              <strong>Seller email </strong>  {{userInfoItems.email}}
          </li>
          <li>
              <strong>Seller phone number </strong>   {{userInfoItems.phone_number}}
          </li>
          <li>
              <strong>Seller address </strong>   {{userInfoItems.address}}
          </li>
        </ul>
      </div>
</ng-template>
<ng-template #sellerInfoSection>
    <div class="seller-info-section">
      <h4>View Seller Details</h4>
      <ul *ngFor="let sellerInfoItems of sellerInfo">
        <li >
            <strong>Seller name </strong>  {{sellerInfoItems.name.first_name}}  {{sellerInfoItems.name.last_name}}
        </li>
        <li>
            <strong>Seller email </strong>  {{sellerInfoItems.email}}
        </li>
        <li>
            <strong>Seller phone number </strong>   {{sellerInfoItems.phone_number}}
        </li>
        <li>
            <strong>Seller address </strong>   {{sellerInfoItems.address}}
        </li>
      </ul>
    </div>
</ng-template>