h3{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}
ul{
    margin-bottom: 5px;
}

.order-info-top{
    display: flex;
    align-items: center;
  
    background-color: #f2f2f2;
    padding: 10px;
    .order-time{
        margin-left: auto;
    }
}
.flex-card{
    margin-top: 1rem;
}

.seller-info-section{
    border-top: 1px #dcdcdc solid;
    background: #dcdcdc;
    padding: 1rem;
    padding-top: 10px;
    margin-top: 15px;
    h4{
        margin: 0 0 10px;
        padding: 0px;
    }
    strong{
        display: block;
    }
}
.admin{
    .order-info-top{
        margin-bottom: 0px;
    }
}