<div class="comment-form">
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
        <div class="input-field">
            <input type="text" placeholder="Name" formControlName="name"  />
            <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Email" formControlName="email"  />
            <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="number" placeholder="Phone" formControlName="phone_number"  />
            <div *ngIf="f.phone_number.invalid && (f.phone_number.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
            </div>
        </div>
        <div class="input-field">
            <textarea placeholder="Comment" formControlName="description"></textarea>
            <div *ngIf="f.description.invalid && (f.description.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.description.errors.required">Comment description is required</div>
            </div>
        </div>
        <div class="input-field center">
            <button class="cancel button" (click)="closeCommentForm()" >Cancel</button>
            <button class="button">Submit</button>
        </div>
    </form>
    
</div>
