<div class="status-links">
    <div class="search">
        <app-search class="global-date" (dateSearchTriggered)="searchByText($event)" [panelClass]="'vimal'"
            [placeholder]="'Search by name'"></app-search>
    </div>
    <ul>
        <li *ngFor="let statusItems of orderStatusType">
            <button [ngClass]="btnActive === statusItems.label ? 'active':'' " (click)="sendUserStatus(statusItems.label)">
                {{statusItems.label}} ({{statusItems.count}})
            </button>
        </li>
    </ul>
</div>

<div class="user-order-list">
   <div class="white-card gray-box-shadow padding-1 margin-top-1 seller-product-list" *ngFor="let items of orderListOfUser; let orderItemIndex =index">
    <div class="order-info-top">
        <strong>Order ID:- {{items._id}}</strong>
        <div class="order-time"> {{items.createdAt | date:'dd MMMM, yyyy'}}</div>
    </div>
    <div class="flex-card">
        <div class="flex-card-img">
            <img class="img" src="http://localhost:3200/upload/{{items.order_item.image}}"
                                alt="{{items.order_item.name}}" />
        </div>
        <div class="flex-card-content">
            <h3>{{items.order_item.name}}</h3>
            <ul>
                <li>
                   <strong>QTY :-</strong> {{items.order_item.qty}}
                </li>
                <li>
                    <strong> Price :-</strong>  {{items.order_item.price}}
                </li>
                <li>
                    <strong> Status :-</strong>  {{items.order_item.status | titlecase}}
                </li>
            </ul>
            <p>{{items.order_item.description | slice: 0:100}} {{ items.order_item.description.length > 100 ? '...' : ''}}</p>
        </div>
    </div>
   </div>
</div>

