<div class="signup-container">
    <div class="white-card">
        <h1>Sign Up</h1>
        <div class="card-body">
            <div class="input-field">
                <label>Email</label>
                <input type="text" placeholder="Name" />
            </div>
            <div class="input-field">
                <label>Password</label>
                <input type="text" placeholder="Weight" />
            </div>
          
            <div class="input-field btn-set--right">
                <button onclick="window.location.href='user-list.html'" class="btn-primary">Sign In</button>
            </div>
        </div>
    </div>
</div>