*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
  background: $lightgray;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a,
a:focus,
a:active,
a:hover {
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.block-row {
  display: flex;
  flex-wrap: wrap;
}

.pd-1 {
  padding: 1rem;
}

.container {
  width: 1200px;
  padding: 0 2rem;
  margin: auto;

  @media (min-width: 320px) and (max-width: 1220px) {
    width: 100%;
  }
}

.input-box {
  margin-bottom: 1rem;

  label {
    display: block;
    font-size: 12px;
    color: $grayc1c1c1;
    margin-bottom: 5px;
  }

  input {
    border: 1px solid $grayc1c1c1;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    color: $grayc1c1c1;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $grayc1c1c1;
      opacity: 1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $grayc1c1c1;
      opacity: 1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $grayc1c1c1;
      opacity: 1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }

    &:-moz-placeholder {
      /* Firefox 18- */
      color: $grayc1c1c1;
      opacity: 1;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
    }
  }
}

.fill-orange-btn {
  background: $orange;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  padding: 1rem;
  border: 1px $orange solid;
  cursor: pointer;

  &:hover {
    background: $white;
    border-radius: 5px;
    color: $orange;
    border: 1px $orange solid;
  }
}

.fill-blue-btn {
  background: $blue;
  border-radius: 5px;
  color: $white;
  font-size: 1rem;
  padding: 1rem;
  border: 1px $blue solid;
  cursor: pointer;

  &:hover {
    background: $white;
    border-radius: 5px;
    color: $blue;
    border: 1px $blue solid;
  }
}

.outline-blue-btn {
  background: $white;
  border-radius: 5px;
  color: $blue;
  font-size: 1rem;
  padding: 1rem;
  border: 1px $blue solid;
  cursor: pointer;

  &:hover {
    background: $blue;
    border-radius: 5px;
    color: $white;
    border: 1px $blue solid;
  }
}

.outline-orange-btn {
  background: $white;
  border-radius: 5px;
  color: $orange;
  font-size: 1rem;
  padding: 1rem;
  border: 1px $orange solid;
  cursor: pointer;

  &:hover {
    background: $orange;
    border-radius: 5px;
    color: $white;
    border: 1px $orange solid;
  }
}
.custom_error{
  display: block;
  font-size: 11px;
  margin-top: 10px;
  color: #f00;
}

