.pop-outer{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: rgba(255, 255, 255, .8);
    top: 0;
    left: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    overflow: auto;
    .pop-content{
        width: 400px;
        margin: auto;
        background-color: #fff;
        padding: 1rem;
        position: relative;
        box-shadow: 0 0 4px rgba(0, 0, 0, .4);
        border-radius: 5px;
        .pop-close-btn{
            position: absolute;
            top: 1rem;
            right: 1rem;
            border: 0px;
            cursor: pointer;
            background: transparent;
            padding: 0;
        }
        .pop-header{
            padding-right: 100px;
            h1{
                margin: 0px;
                padding: 0px;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }
        .pop-body{
            padding: 1rem 0 0 0;
        }


    }
}