<section class="get-auth-section">
    <div class="small-container">
        <div class="white-card border-radius gray-box-shadow">
            <div class="custom-row">
                <div class="get-auth-section--left get-auth-section--left--bg align-center">
                    <div class="get-auth-section--left--content ">
                        <div class="page-logo">
                            <img src="../../../assets/img/login-logo.svg" width="100%" />
                        </div>
                        <h4>Phasellus vehicula massa at erat fermentum pretium sed quis nunc</h4>
                    </div>
                </div>
                <div class="get-auth-section--right padding-2">
                    <h2>Sign Up</h2>
                    <div class="form" >
                        <form [formGroup]="signUpForm" (ngSubmit)="submit()">
                        <div class="input-item" formGroupName="name">
                            <input type="text" value="" placeholder="First Name" formControlName="first_name" />
                            <div *ngIf="userNameForm.first_name.invalid && (userNameForm.first_name.dirty || submitted )"  class="custom_error">
                                <div *ngIf="userNameForm.first_name.errors.required">First name is required</div>
                            </div>
                        </div>
                        <div class="input-item" formGroupName="name">
                            <input type="text" value="" placeholder="Last Name" formControlName="last_name" />
                            <div *ngIf="userNameForm.last_name.invalid && (userNameForm.last_name.dirty || submitted )"  class="custom_error">
                                <div *ngIf="userNameForm.last_name.errors.required">Last name is required</div>
                            </div>
                        </div>
                        <div class="input-item">
                            <input type="text" value="" placeholder="Email" formControlName="email" />
                            <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <div class="custom_error" *ngIf="this.sAttributes.emailValidation === true">This email address has already been taken</div>
                        </div>
                        <div class="input-item">
                            <input type="number" value="" placeholder="Phone Number" formControlName="phone_number" />
                            <div *ngIf="f.phone_number.invalid && (f.phone_number.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
                            </div>
                            <div class="custom_error" *ngIf="this.sAttributes.phoneValidation === true">This phone number has already been taken</div>
                        </div>
                        <div class="input-item">
                            <input type="file" name="image" ng2FileSelect [uploader]="uploader"(change)="onImageSelect($event)" accept="image/*">
                        </div>
                        
                        <div class="input-item" >
                            <select class="selectbox" formControlName="gender" name="gender">
                                <option>Select Gender</option>
                                <option *ngFor="let userGenderList of userGenderList">{{userGenderList.label}}</option>
                                
                            </select>
                            <div *ngIf="f.gender.invalid && (f.gender.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.gender.errors.required">Gender is required</div>
                            </div>
                        </div>
                        <div class="input-item" >
                            <select class="selectbox" formControlName="user_type" name="user_type">
                                <option>Select User Type</option>
                                <option *ngFor="let userAccountList of userAccountList">{{userAccountList.label}}</option>
                            </select>
                            <div *ngIf="f.user_type.invalid && (f.user_type.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.user_type.errors.required">User Type is required</div>
                            </div>
                            
                        </div>
                        <div class="input-item">
                            <textarea placeholder="Address" formControlName="address"></textarea>
                            <div *ngIf="f.address.invalid && (f.address.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                        </div>
                        <div class="input-item">
                            <input type="password" value="" placeholder="Password"  formControlName="password" />
                            <div *ngIf="f.password.invalid && (f.password.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-submit justify-content-center">
                            <button class="secondary-btn">Sign Up</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>