.temp-header{
    position: relative;
    .temp-header-img{
        img{
            width: 100%;
            display: block;
        }
    }
    .temp-header-login-link{
        position: absolute;
        right: 20px;
        top: 10px;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            li{
                margin: 0 0 0 15px;
                padding: 0px;
                a{
                   display: block;
                   font-size: 16px; 
                }  
            }
        }
    }
}