<!-- <header class="header">
    <div class="container">
        <div class="custom-row ">
            <div class="logo">
                <a routerLink="/">
                    <img src="assets/img/logo.png">
                </a>
            </div>
            <div class="main-nav">
                <ul *ngIf="!this.AuthService.isLoggedIn">
                    <li>
                        <a routerLink="sign-in">Sign In</a>
                    </li>
                    <li>
                        <a routerLink="sign-up">Sign Up</a>
                    </li>
                </ul>
                <ul *ngIf="this.AuthService.isLoggedIn">
                    <li>
                        <a>{{this.AuthService.loginUser.name}}</a>
                    </li>
                    <li>
                        <a routerLink="sign-in" (click)="logout()">logout</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</header> -->
<div class="temp-header">
  <div class="temp-header-img"><img src="../../../../assets/img/header-img.png" width="100%" alt="" /></div>
  <div class="temp-header-login-link">
    <ul *ngIf="!this.AuthService.isLoggedIn">
        <li>
            <a routerLink="sign-in">Sign In</a>
        </li>
        <li>
            <a routerLink="sign-up">Sign Up</a>
        </li>
    </ul>
    <ul *ngIf="this.AuthService.isLoggedIn">
        <li>
            <a routerLink="profile">{{this.AuthService.loginUser.name}}</a>
        </li>
        <li>
            <a routerLink="sign-in" (click)="logout()">logout</a>
        </li>
    </ul>
  </div>
</div>


