.blog-box {
    width: 33.33%;
    padding: 2rem 1rem;

    .blog-content {
        h3 {
            margin: 0px;
            padding: 0.6rem 0 0 0;

            a {
                display: block;
                color: #000;
                font-weight: 500;
            }
        }

        ul.blog-info {
            margin: 0.6rem 0 0 0;
            padding: 0px;
            list-style: none;
            display: flex;

            li {
                &:last-child {
                    margin-left: auto;
                }
            }
        }
    }
}

.add-blog-section {
    padding: 2rem 1rem 0 1rem;
}

.comment-section {
    h4 {
        margin: 0 0 1rem 0;
    }
}

.blog-bottom {
    border-top: 1px #C4C4C4 solid;
    padding: 1rem;

    .row {
        align-items: center;
    }

    .blog-info-left {
        width: 30%;
    }

    .blog-info-right {
        width: auto;
    }

    ul {
        margin: 0px;
        padding: 0;
        list-style: none;
        display: flex;

        li {
            padding: 0;
            margin-left: 1rem;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}

.comment-section {
    border-top: 1px #C4C4C4 solid;
    padding-top: 1rem;
}
.comment-list{
    border-top: 1px #C4C4C4 solid;
    padding-top: 1rem; 
    h4 {
        margin: 0 0 1rem 0;
    }
    .comment-box{
        margin-bottom: 1rem;
        .comment-description {
            position: relative;
            background: #dddddd;
            padding: 1rem;
            margin-bottom: 1rem;
            &:after {
                top: 100%;
                left: 5%;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(243, 243, 243, 0);
                border-top-color: #dddddd;
                border-width: 10px;
                margin-left: -10px;
            }
        }
       
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        li{
            &:first-child{
                font-weight: 500;
                color: #FE6C0B;
            }
            &:last-child{
                margin-left: auto;
            }
        }
    } 
}