<div class="buy-qty-slider">
    <div class="custom-row"> 
        <button class="primary-btn" (click)="minus()" [disabled]="minusBtnDisabled ? true : false">-</button>
          <div class="qty-box">{{qtyNum}}</div>
        <button class="primary-btn" (click)="plus()" [disabled]="plusBtnDisabled ? true : false">+</button>
    </div>
</div>
