<div class="add-blog-form">
    <form [formGroup]="addBlogForm" (ngSubmit)="submit()">
        <div class="input-field">
            <input type="text" placeholder="Blog heading" formControlName="name" />
            <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.name.errors.required">Blog heading is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="email" placeholder="Email" formControlName="email" />
            <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="number" placeholder="Phone number" formControlName="phone_number" />
            <div *ngIf="f.phone_number.invalid && (f.phone_number.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.phone_number.errors.required">Phone Number is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="file" name="image" ng2FileSelect [uploader]="uploader" (change)="onImageSelect($event)" accept="image/*">
            <div *ngIf="f.image.invalid && (f.image.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.image.errors.required">Image is required</div>
            </div>
        </div>
        <div class="input-field">
            <textarea placeholder="Phone number" formControlName="description"></textarea>
            <div *ngIf="f.description.invalid && (f.description.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.description.errors.required">Blog description is required</div>
            </div>
        </div>
        <div class="input-field">
            <input type="text" placeholder="Author" formControlName="author" />
            <div *ngIf="f.author.invalid && (f.author.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.author.errors.required">Author is required</div>
            </div>
        </div>
        <div class="input-field center">
            <button class="cancel button" (click)="cancel(false)">Cancel</button>
            <button class="button">Submit</button>
        </div>
    </form>
</div>
