<section class="order-page  padding-btm-2">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Order</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="white-card border-radius gray-box-shadow padding-1 margin-btm-1" *ngFor="let item of orderItems; let index = index">
                <div class="order-info-top">
                    <strong>Order ID:- {{item._id}}</strong>
                    <div class="order-time"> {{item.createdAt | date:'dd MMMM, yyyy'}}</div>
                </div>
                
                
                <div class="flex-card" *ngFor="let subItem of item.order_item">
                    <div class="flex-card-img">
                        <img class="img" src="http://localhost:3200/upload/{{subItem.image}}"
                                            alt="{{subItem.name}}" />
                    </div>
                    <div class="flex-card-content">
                        <h3>{{subItem.name}}</h3>
                        <ul>
                            <li>
                               <strong>QTY :-</strong> {{subItem.qty}}
                            </li>
                            <li>
                                <strong> Price :-</strong>  {{subItem.price}}
                            </li>
                            <li>
                                <strong> Status :-</strong>  {{subItem.status | titlecase}}
                            </li>
                            <li [hidden]="subItem.status === 'Cancelled'" >
                                <button class="link-btn" (click)="orderCancel(subItem.product_id, item._id)">Cancel</button>
                            </li>
                        </ul>
                        <p>{{subItem.description | slice: 0:100}} {{ subItem.description.length > 100 ? '...' : ''}}</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</section>
