<div class="date-input" [ngClass]="panelClass">
    <form >
        <input type="text" 
            placeholder="Search By Date" 
            [formControl]="dateSearchControl" 
            value="{{ dateSearchControl.value | date: 'yyyy-MM-dd' }}"   
            bsDatepicker 
            [maxDate]="maxDate"
        />
    </form>
    
</div>