h1 {
    margin: 0px;
    padding: 0px;
}

.description {
    margin-bottom: 1rem;
}

ul.blog-info {
    margin: 0px;
    padding: 1rem 0;
    list-style: none;
    display: flex;

    li {
        padding: 0;
        margin-left: 1rem;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-left: auto;
        }
    }
}

.comment-box {
    margin-bottom: 1.5rem;

    &:last-child {
        margin-bottom: 0px;
    }

    .row {
        .user-img {
            width: 60px;

            img {
                width: 100%;
                display: block;
            }
        }

        .comments-desc {
            width: calc(100% - 100px);
            margin-left: auto;
            position: relative;
            background: #e3e3e3;
            border-radius: 5px;
            padding: 1rem;

            &:after {
                right: 100%;
                top: 30px;
                border: solid transparent;
                content: "";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(136, 183, 213, 0);
                border-right-color: #e3e3e3;
                border-width: 10px;
                margin-top: -10px;
            }
            ul{
                margin: 8px 0 0 0;
                padding: 5px;
                list-style: none;
                display: flex;
                background: #f1f1f1;
                li{
                    padding: 0px;
                    margin: 0px;
                    &:first-child{
                        font-weight: 500;
                        font-style: italic;
                    }
                    &:last-child{
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
.blog-details-add-comment{
    margin-bottom: 2rem;
}
.blog-details-comment-list{
    margin-bottom: 2rem;
}