<div *ngFor="let item of blogDetails">
    <section class="pages__filter">
        <div class="width"> 
            <h1>{{item.name}}</h1>
        </div>
    </section>
    <section class="blog-details-section margin-top-2">
        <div class="width">
            <div class="blog-img">
                <img  src="http://localhost:2300/upload/{{item.image[1]}}" width="100%" alt="" />
            </div>
            <ul class="blog-info">
                <li>Author: - {{item.author}}</li>
                <li>Date: - {{item.createdAt | date: 'dd, MMMM, yyyy'}}</li>
            </ul>
            <div class="description">{{item.description}}</div>
            <div class="blog-details-add-comment">
                <h4>Add Comments </h4>
                <app-comment-form [blogId]="item._id"></app-comment-form>
            </div>
            

            <div *ngIf="item.comment_count.length" class="blog-details-comment-list">
                <h4>Comment ({{item.comment_count.length}})</h4>
                  <div class="comment-box" *ngFor="let commentItem of item.comment_count">
                    <div class="row">
                        <div class="user-img">
                            <img src="../../../../assets/img/mailchimp.svg"  alt="" />
                        </div>
                        <div class="comments-desc">
                            <div class="comment-description">{{commentItem.description}}</div>
                            <ul>
                                <li class="icon">{{commentItem.name}}</li>
                                <li>{{commentItem.createdAt | date: 'dd, MMMM, yyyy'}}</li>
                             </ul>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>