<div class="signup-container">
    <div class="white-card">
        <h1>Sign Up</h1>
        <div class="card-body">
            <div class="input-field">
                <label>Name</label>
                <input type="text" placeholder="Name" />
            </div>
            <div class="input-field">
                <label>Weight</label>
                <input type="text" placeholder="Weight" />
            </div>
            <div class="input-field">
                <label>Height</label>
                <input type="text" placeholder="Height" />
            </div>
            <div class="input-field">
                <label>Gender</label>
                <select class="selectbox">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="input-field">
                <label>Age</label>
                <input type="date" placeholder="Age" />
            </div>
            <div class="input-field btn-set--right">
                <button onclick="window.location.href='user-list.html'" class="btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>