<div class="signup-container">
    <div class="white-card">
        <h1>Sign In</h1>
        <div class="card-body">
            <form [formGroup]="signInForm" (ngSubmit)="submit()">
                <div class="input-field">
                    <label>Email</label>
                    <input type="text" placeholder="Email" formControlName="email" />
                    <div class="custom_error" *ngIf="this.sAttributes.emailError === true">
                        {{this.sAttributes.serverEmailErrorMessage}}
                    </div>
                </div>
                <div class="input-field">
                    <label>Password</label>
                    <input type="password" placeholder="Password" formControlName="password" />
                    <div class="custom_error" *ngIf="this.sAttributes.passwordError === true">
                        {{this.sAttributes.serverPasswordErrorMessage}}
                    </div>
                </div>
                
                <div class="input-field btn-set--right">
                    <button class="btn-primary">Sign In</button>
                </div>
            </form>
        </div>
    </div>
</div>
