<section class="admin admin-product-page  padding-btm-2">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Product</h1>
                    </div>
                    <div class="page-filter-section-top-right">
                        <div class="search">
                            <app-search class="global-date" (dateSearchTriggered)="searchByText($event)"
                                [panelClass]="'vimal'" [placeholder]="'Search by email'"></app-search>
                        </div>
                    </div>
                </div>
            </div>

            <div class="page-filter-section-btm">
                <div class="custom-row">
                    <div class="page-filter-section-btm-left">
                        <div class="status-links">
                            <ul>
                                <li><button [ngClass]="btnActive === 'active' ? 'active':'' " (click)="sendUserStatus('active')">Active ({{activeCount}})</button></li>
                                <li><button [ngClass]="btnActive === 'inactive' ? 'active':'' " (click)="sendUserStatus('inactive')">Deleted ({{inactiveCount}})</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-filter-section-btm-right"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="not-found-section" *ngIf="this.sAttributes.messageShow; " >{{this.sAttributes.notFoundMessage}}</div>
            <div class="product-list padding-1 white-card margin-top-1 gray-box-shadow" *ngFor="let items of productList; let index = index">
               
                <div class="flex-card">
                    <div class="flex-card-img">
                        <img src="http://localhost:3200/upload/{{items.image}}" width="100%"
                            alt="{{items.name}}" />
                        <button class="edit-btn primary-outline-btn full-width margin-top-1" (click)="update(index, items);">Edit</button>
                    </div> 
                    <div class="flex-card-content">
                        <h3>{{items.name}}</h3>
                        <i>{{items.price | currency}}</i>
                        <p>{{items.description}}</p>
                    </div>
                    
                </div>
                <div  *ngIf="getIndex === index; then EditProduct"></div>
            </div>
        </div>
    </section>
</section>

<ng-template #EditProduct>
    <div class="edit-product margin-top-2">
        <div class="main-form">
            <form [formGroup]="editProductForm" (ngSubmit)="editProductFormSubmit()">
                <div class="input-item">
                    <input type="text" value="" placeholder="Name" formControlName="name" />
                    <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                        <div *ngIf="f.name.errors.required">Product Name is required</div>
                    </div>
                </div>
    
                <div class="input-item">
                    <input type="text" value="" placeholder="price" formControlName="price" />
                    <div *ngIf="f.price.invalid && (f.price.dirty || submitted )"  class="custom_error">
                        <div *ngIf="f.price.errors.required">Product Price is required</div>
                    </div>
                </div>
    
                <div class="input-item">
                    <textarea  placeholder="description" formControlName="description"></textarea>
                    <div *ngIf="f.description.invalid && (f.description.dirty || submitted )"  class="custom_error">
                        <div *ngIf="f.description.errors.required">Product Description is required</div>
                    </div>
                </div>
    
                <div class="input-item">
                    <div class="uploaded-img"> <img src="http://localhost:3200/upload/{{editProductImg}}" width="100%"
                        alt="{{editProductImg}}" /></div>
                   
                </div>
                  
                <div class="input-item">
                    <select class="cus_select" formControlName="categorie_id">
                        <option value="" selected> Select Categorie </option>
                        <option *ngFor="let option of optionList" value="{{option._id}}">
                            {{ option.name}}
                        </option>
                    </select>
                    <div *ngIf="f.categorie_id.invalid && (f.categorie_id.dirty || submitted )"  class="custom_error">
                        <div *ngIf="f.categorie_id.errors.required">Product Categorie is required</div>
                    </div>
                </div>
                <div class="input-item">
                    <label>Status</label>
                    <div class="status-input" >
                        
                            <input name="cssCheckbox" id="demo_opt_1" value="active" type="radio" name="status" class="css-checkbox" checked="" formControlName="status" checked="checked">
                            <label for="demo_opt_1">Active</label>
                            <input name="cssCheckbox" id="demo_opt_2"  value="inactive" type="radio" class="css-checkbox" name="status" formControlName="status" >
                            <label for="demo_opt_2">Inactive 2</label>
                    </div>
                    <div *ngIf="f.status.invalid && (f.status.dirty || submitted )"  class="custom_error">
                        <div *ngIf="f.status.errors.required">Product Status is required</div>
                    </div>
                </div>
                
                <div class="form-submit justify-content-center">
                    <button class="primary-btn" (click)="closeBox()">Cancel</button>
                    <div class="space-20"></div>
                    <button class="secondary-btn">Edit</button>
                </div>
            </form>
        </div>
    </div>
    
</ng-template>