<div class="signup-container">
    <div class="white-card">
        <h1>Sign Up</h1>
        <div class="card-body">
            <form [formGroup]="signUpForm" (ngSubmit)="submit()">
            <div class="input-field">
                <label>Name</label>
                <input type="text" placeholder="Name" formControlName="name" />
                <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="input-field">
                <label>Email</label>
                <input type="text" placeholder="Email" formControlName="email" />
                <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="input-field">
                <label>password</label>
                <input type="text" placeholder="Password" formControlName="password" />
                <div *ngIf="f.password.invalid && (f.password.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be six characters minimum</div>
                </div>
            </div>
            <div class="input-field">
                <label>weight</label>
                <input type="text" placeholder="Weight" formControlName="weight" />
                <div *ngIf="f.weight.invalid && (f.weight.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.weight.errors.required">Weight is required</div>
                </div>
            </div>
            <div class="input-field">
                <label>Height</label>
                <input type="text" placeholder="Height" formControlName="height" />
                <div *ngIf="f.height.invalid && (f.height.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.height.errors.required">Height is required</div>
                </div>
            </div>
            <div class="input-field">
                <label>Gender</label>
                <select class="selectbox" formControlName="gender">
                    <option disabled selected>Select gender</option>
                    <option>male</option>
                    <option>female</option>
                </select>
                <div *ngIf="f.gender.invalid && (f.gender.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>
            </div>
            <div class="input-field">
                <label>Age</label>
                {{bsValue}}
                <input type="text" placeholder="Age" formControlName="age" bsDatepicker placement="right" [bsValue]="bsValue" 
                [maxDate]="maxDate"  />
                <div *ngIf="f.age.invalid && (f.age.dirty || submitted )"  class="custom_error">
                    <div *ngIf="f.age.errors.required">Age is required</div>
                </div>
            </div>
            <div class="input-field btn-set--right">
                <button  class="btn-primary">Sign Up</button>
            </div>

    </form>
        </div>
    </div>
</div>