<section class="checkout-page  padding-btm-2">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Checkout</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="custom-row">
                <div class="left-box">
                    <div class="show-product-section">
                        <h2>Cart List</h2>

                        <div class="white-card border-radius gray-box-shadow padding-1">
                            <div *ngIf="show">{{message}}</div>
                            <div class="checkout-product-box" *ngFor="let item of cartList; let idx = index">
                               
                                <div class="custom-row">
                                    <div class="checkout-product-img">
                                        <img class="img" src="http://localhost:3200/upload/{{item.image}}"
                                            alt="{{item.name}}" />
                                    </div>
                                    <div class="checkout-product-content">
                                        <h5>{{item.name}}</h5>

                                        <div class="des">
                                            <p>{{item.description}}</p>
                                        </div>
                                        <div class="checkout-product-info">
                                            <ul>
                                                <li>
                                                    <strong>Price</strong>:- {{item.price | currency}}
                                                </li>
                                                <li>
                                                    <strong>QTY</strong>:-
                                                    <select class="selectbox">
                                                        <option> {{item.qty}}</option>
                                                    </select>
                                                </li>
                                                <li>
                                                    <button class="link-btn"
                                                        (click)="removeItemFromCart(item._id, item.price)">Remove</button>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <h2>Address</h2>
                        <div class="white-card border-radius gray-box-shadow padding-1">
                            {{loginUserData.first_name}} {{loginUserData.last_name}}<br>
                            {{loginUserData.address}} <br>
                            {{loginUserData.phone_number}}
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <div class="sticky">
                        <h2>Payment</h2>
                        <div class="white-card border-radius gray-box-shadow padding-1">
                            <h1 class="text-align-center totalAmount">{{this.totalAmount | currency}}</h1>
                        </div>
                        <div class="buy-btn">
                            <button class="primary-btn" (click)="order(cartList)">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>