.checkout-page {
    h2 {
        font-size: 1rem;
        font-weight: 600;
    }

    .left-box {
        width: 75%;
        padding-right: 2rem;
    }

    .right-box {
        width: 25%;
    }
}

.checkout-product-box {
    margin-bottom: 1rem;
    border-bottom: 1px #dcdcdc solid;
    padding-bottom: 1rem;

    &:last-child {
        border-bottom: 0px #dcdcdc solid;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .checkout-product-img {
        width: 15%;

        img {
            width: 100%;
        }
    }

    .checkout-product-content {
        width: calc(100% - 15%);
        padding-left: 1rem;

        h5 {
            margin: 0px;
            padding: 0px;
            font-weight: 600;
            font-size: 1rem;
            display: block;
        }

        .des {
            p {
                margin-top: 5px;
            }

        }

        .checkout-product-info {
            margin-top: 5px;

            ul {
                margin: 0px;
                padding: 0px;
                list-style: none;
                display: flex;

                li {
                    margin: 0 10px 0 0;
                    padding: 0px;

                    &:last-child {
                        margin-right: 0px;
                    }

                    strong {
                        font-family: 500;
                    }
                }
            }
        }
    }
}

.buy-btn {
    width: 100%;
    margin-top: 1rem;

    a,
    button {
        padding: 1rem 2rem;
        display: block;
        text-align: center;
        width: 100%;
    }
}

.totalAmount {
    font-size: 2rem;
    margin: 0px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}