<div class="status-links">
    <div class="search">
        <app-search class="global-date" (dateSearchTriggered)="searchByText($event)" [panelClass]="'vimal'"
            [placeholder]="'Search by name'"></app-search>
    </div>
    <ul>
        <li><button [ngClass]="isTabActive === 'active' ? 'active': 'inactive'" (click)="sendStatus('active')">Active ({{activeCount}})</button></li>
        <li><button [ngClass]="isTabActive === 'inactive'  ? 'active': 'inactive'" (click)="sendStatus('inactive')">Inactive ({{inactiveCount}})</button></li>
    </ul>
</div>

<div class="seller-product-list">
    <div class="white-card gray-box-shadow padding-1 margin-top-1 seller-product-list"
        *ngFor="let items of sellerProductList; let productItemIndex =index">
        <div class="flex-card">
            <button class="product-edit-btn secondary-outline-btn"
                (click)="editButton(items._id, productItemIndex, items)">Edit</button>
            <div class="flex-card-img">
                <img src="http://localhost:3200/upload/{{items.image}}" width="100%" alt="{{items.name}}" />
            </div>
            <div class="flex-card-content">
                <h3>{{items.name}}</h3>
                <i>{{items.price | currency}}</i>
                <p>{{items.description}}</p>
            </div>
        </div>
        <div *ngIf="productItemIndex === index; then EditProduct"></div>
    </div>
</div>

<ng-template #EditProduct>
    <div class="main-form">
        <form [formGroup]="editProductForm" (ngSubmit)="submit()">
            <div class="input-item">
                <input type="text" value="" placeholder="Name" formControlName="name" />
                <div *ngIf="f.name.invalid && (f.name.dirty || submitted )" class="custom_error">
                    <div *ngIf="f.name.errors.required">Product Name is required</div>
                </div>
            </div>

            <div class="input-item">
                <input type="text" value="" placeholder="price" formControlName="price" />
                <div *ngIf="f.price.invalid && (f.price.dirty || submitted )" class="custom_error">
                    <div *ngIf="f.price.errors.required">Product Price is required</div>
                </div>
            </div>

            <div class="input-item">
                <textarea placeholder="description" formControlName="description"></textarea>
                <div *ngIf="f.description.invalid && (f.description.dirty || submitted )" class="custom_error">
                    <div *ngIf="f.description.errors.required">Product Description is required</div>
                </div>
            </div>

            <div class="input-item">
                <label>Status</label>
                <div class="status-input">
                    <input class="css-checkbox" id="demo_opt_1" value="active" type="radio" name="status"
                        formControlName="status" [checked]="">
                    <label for="demo_opt_1">Active</label>
                    <input class="css-checkbox" id="demo_opt_2" value="inactive" type="radio" name="status"
                        formControlName="status">
                    <label for="demo_opt_2">Inactive</label>
                </div>
                <div *ngIf="f.status.invalid && (f.status.dirty || submitted )" class="custom_error">
                    <div *ngIf="f.status.errors.required">Product Status is required</div>
                </div>
            </div>

            <div class="form-submit justify-content-center">
                <div class="space-20"></div>
                <button class="secondary-btn">Update</button>
            </div>
        </form>
    </div>
</ng-template>