<header class="header">
    <div class="container">
        <div class="logo">
            <a href="#">
                <img src="assets/img/logo.png">
            </a>
        </div>
    </div>
</header>