<section class="header-row">
    <div class="block-row pd-1">
        <div class="header-logo">
            <a [routerLink]="['/']" >
                <img src="../../../../assets/img/logo.png" alt="" />
            </a>
        </div>
        <div class="header-nav">
            <ul>
                <li>
                    <a [routerLink]="['/']" >
                        Login
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/']" >
                        Login
                    </a>
                </li>
            </ul>
        </div>

    </div>
</section>
