.account-page {
    padding-top: 2rem;
    .account-page-left {
        width: 250px;

        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;
            background: #fff;
            @extend .gray-box-shadow;
            li {
                margin: 0px;
                padding: 0px;
                button {
                    width: 100%;
                    background: #f1f1f1;
                    padding: 10px;
                    margin-bottom: 1px;
                    border: 0px;
                    text-align: left;
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                }
                &:last-child {
                    button {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .account-page-rigth {
        width: calc(100% - 250px);
        padding-left: 1rem;
    }
}


.status-links{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 16px;
    border-bottom: 1px #c6c6c6 solid;
    min-height: 54px;
    .search{
        max-width: 40%;
    }
    ul{
        margin-left: auto;
    }
}