.get-auth-section{
    padding: 3rem 0;
    &--left{
        width:50% ;
        &--bg{
            background: rgb(16, 89, 162);
            background: -moz-linear-gradient(left, rgba(16, 89, 162, 1) 1%, rgba(43, 65, 174, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(16, 89, 162, 1) 1%, rgba(43, 65, 174, 1) 100%);
            background: linear-gradient(to right, rgba(16, 89, 162, 1) 1%, rgba(43, 65, 174, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1059a2', endColorstr='#2b41ae',GradientType=1 );
            border-radius: 5px 0 0 5px;
        }
       
        &--content{
            padding: 2rem;
          .page-logo{
            width: 150px;
            margin: auto;
          }
          h4{
            color: $white;
            font-size: 1rem;
            display: block;
            text-align: center;
          }
        }
    }
    &--right{
        width:50% ;
        h2{
            margin: 0px;
            padding: 0px;
            color: $black;
            font-weight: 500;
        }
        .form{
            @extend .padding-top-2;
        }
    }
}