.primary-btn,
.secondary-btn,
.primary-outline-btn,
.secondary-outline-btn
{
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.4rem 0.7rem;
    @extend .border-radius;
}

.primary-btn{
    background: $primary-color;
    border: 0px;
    color: $white !important;
    &:hover{
        background: $secondary-color; 
        color: $white !important;
    }
}
.secondary-btn{
    background: $secondary-color;
    border: 0px;
    color: $white;
    &:hover{
        background: $txt-gray-color;
    }
}
.primary-outline-btn{
    background: $white;
    border: 1px $primary-color solid;
    color: $primary-color;
    &:hover{
        background: $primary-color; 
        color: $white;
    }
}
.secondary-outline-btn{
    background: $white;
    border: 1px $secondary-color solid;
    color: $secondary-color;
    &:hover{
        background: $secondary-color; 
        color: $white;
    }
}

.buy-big-btn{
    padding: 1rem 3rem;
}
.link-btn{
    background: transparent;
    color: $secondary-color;
    padding: 0px;
    cursor: pointer;
    padding: 0px;
    border: 0px;
}

.success-btn,
.process-btn,
.cancelled-btn
{
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    @extend .border-radius;
    border:1px #000 solid ;
    color: #000;
    background: transparent;
}

.success-btn{
  color: #198754;
  border-color: #198754;
}
.process-btn{
    color: #ffc107;
    border-color: #ffc107;
  }
.cancelled-btn{
    color: #dc3545;
    border-color: #dc3545;
  }
  
