.flex-card{
   @extend .flex-start; 
   &-img{
    width: 100px;
    img{
        display: block;
        width: 100%;
    }
   }
   &-content{
    width: calc(100% - 100px);
    padding-left: 1rem;
    h3{
        margin: 0px;
        padding: 0px;
    }
    p{
        margin: 0px;
        padding: 0px;
    }
    ul {
        margin: 0;
        padding: 0px;
        list-style: none;
        display: flex;
        align-items: center;

        li {
            margin-right: 1rem;
            font-size: 0.8rem;
        }
    }
   }
}