.input-item{
    @extend .margin-btm-1;
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="email"],
    input[type="image"],
    input[type="file"],
    input[type="googleInputLocation"],
    textarea,
    select {
       background: $white;
       border: $border-gray-color 1px solid;
       @extend .border-radius;
       @extend .padding-1;
       font-size: 0.8rem;
       color: $txt-gray-color;
       width: 100%;
    }
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none \9;
}

select::-ms-expand {
    display: none;
}

.selectbox {
    background: url(../../img/dropdown-arrow.png) no-repeat calc(100% - 5px) center !important;
    padding-right: 25px !important;
    padding-left: 5px;
   
}