.page-filter-section {
    @extend .padding-btm-1;
    @extend .padding-top-1;
    background: url(../../img/bg.jpg) repeat;
    border-bottom: 1px #c6c6c6 solid;

    &-top {
        &-left {
            width: 50%;
            h1{
                margin: 0px;
                padding: 0px;
                color: #333333;
                font-size: 22px;
                font-weight: 600;
            }
        }

        &-right {
            width: 50%;
        }
    }

    &-btm {
        margin-top: 10px;
        &-left {
            width: 50%;
        }

        &-right {
            width: 50%;
        }
    }
}