.pop-outer{
    position: fixed;
    width: 100%;
    top: 0px;
    height: 100%;
    left: 0px;
    align-items: center;
    justify-content: center;
    z-index: 9;
    padding: 2rem 0;
    display: none;
    &.show{
        display: flex;
    }
    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(0, 0, 0, 0.5);
    }
    .pop-in{
        position: relative;
        width: 600px;
        background: #fff;
        z-index: 1;
        padding: 1rem;
        .pop-close{
            position: absolute;
            right: 1rem;
            top: 1rem;
            padding: 0px;
            border: 0px;
            cursor: pointer;
            background: url(../../img/times-circle.svg) no-repeat;
            width: 25px;
            height: 25px;
        }
        .pop-heading{
            border-bottom: 1px #dcdcdc solid;
            padding-bottom: 1rem;
            h1{
                margin: 0px;
                padding: 0px;
                font-weight: 500;
            }
        }
        .pop-body{
            padding: 1rem 0 0 0;
        }
    }
}