.product-card {
    width: 25%;
    padding: 1rem;
    .white-card{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .product-image-card {
        a {
            display: block;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .product-image-content {
        padding: 1rem 1rem 3.5rem 1rem;

        h3 {
            margin: 0px;
            padding: 0px;
            font-weight: 400;
            font-size: 1rem;
            display: block;
        }
        span{
            color: $primary-color;
            display: block;
            font-size: 0.9rem;
            font-weight: 600;
            margin-top: 0.3rem;
        }
        .product-btn-card{
            display: flex;
            align-items: center;
            margin-top: 0.6rem;
            position: absolute;
            width: calc(100% - 2rem);
            bottom: 1rem;
            left: 1rem;
            button,
            a
            {
                padding: 4px 10px;
                font-size: 0.8rem;
            }
            button{
                margin-left: auto;
            }

        }
    }
}