.cart-table {
    background: $white;
    @extend .gray-box-shadow;
    @extend .border-gray;

    table {
        width: 100%;

        th {
            background: #ccc;
        }

        th,
        td {
            text-align: left;
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .cart-table {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            margin: 0 0 1rem 0;
        }

        tr:nth-child(odd) {
            background: #ccc;
        }

        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            position: absolute;
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        td:nth-of-type(1):before {
            content: "Item Image";
        }

        td:nth-of-type(2):before {
            content: "Item Name";
        }

        td:nth-of-type(3):before {
            content: "Item Description";
        }

        td:nth-of-type(4):before {
            content: "Item QTY";
        }

        td:nth-of-type(5):before {
            content: "Item Price";
        }

    }

}