html {
    -webkit-text-size-adjust: 100%;
}

body {
    font-weight: 400;
    background: #f4f7fc;
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}



a,
a:focus,
a:active,
a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    opacity: 1;
}

$assetPath: "../../img/icons";

button,
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.mid-content {
    min-height: 100vh;
}

.full-container {
    width: 100%;
    padding: 0 1rem;
}

.container {
    max-width: 1300px;
    padding: 0 1rem;
    margin: auto;
}

.small-container {
    max-width: 1000px;
    padding: 0 1rem;
    margin: auto;
}

.header-top {
    background: $white;
    box-shadow: 0 0 7px rgb(0 0 0 / 40%);

    .header-secondary-menu {
        ul {
            li {
                a {
                    color: $txt-gray-color;

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}

.header-btm {
    background: $primary-color;
}

.search {
    width: 100%;

    input {
        width: 100%;
        border: 1px #dcdcdc solid;
        padding: 10px 10px 10px 45px;
        font-size: 14px;
        color: $txt-gray-color;
        background: #fff url(../../img/search.svg) no-repeat 10px center;
    }
}

.status-links {
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;

        li {
            margin: 0 15px 0 0;
            padding: 0px;

            button {
                display: block;
                font-size: 14px;
                border: 0px;
                cursor: pointer;
                color: $txt-gray-color;
                padding: 1px 0 1px 29px;
                background: url(../../img/discount_type_radio.png) no-repeat;

                &:hover,
                &.active {
                    color: $secondary-color;
                    background: url(../../img/discount_type_radio.png) no-repeat 0 -58px;
                }
            }
        }
    }
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
}

.space-20 {
    width: 20px;
}

.white-card {
    background: $white;
}

.border-radius {
    border-radius: 6px;
}

.gray-box-shadow {
    box-shadow: 0 0 3px #9c9c9c3d;
}

.border-gray {
    border: 1px $light-gray-color solid;
}


.align-center {
    display: flex;
    align-items: center;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-top-1 {
    padding-top: 1rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.padding-btm-1 {
    padding-bottom: 1rem;
}

.padding-btm-2 {
    padding-bottom: 2rem;
}

.margin-btm-1 {
    margin-bottom: 1rem;
}

.margin-btm-2 {
    margin-bottom: 2rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.page-content-section {
    padding: 2rem 0;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.custom_error {
    color: #f00;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

.flex {
    display: flex;
}

.flex-center {
    @extend .flex;
    align-items: center;
}

.flex-start {
    @extend .flex;
    align-items: flex-start;
}

.flex-end {
    @extend .flex;
    align-items: flex-end;
}
.margin-left-auto{
    margin-left: auto;
}

.flex-center-center {
    @extend .flex-center;
    justify-content: center;
}

.flex-center-right {
    @extend .flex-center;
    justify-content: end;
}

.not-found-section {
    text-align: center;
    @extend .gray-box-shadow;
    @extend .padding-1;
    @extend .white-card;
    @extend .margin-top-1;
}

.load-more {
    @extend .margin-top-2;
    @extend .flex-center-center;
}

.full-width {
    width: 100%;
}

.uploaded-img {
    width: 150px;

    img {
        @extend .full-width;
    }
}

.buy-qty-slider {
    margin: 1rem 0;

    .custom-row {
       
        align-items: center;

        button {
            width: 30px;
            padding: 0px 0;
            font-size: 21px;
            cursor: pointer;
        }

        .qty-box {
            width: calc(40px);
            text-align: center;
            @extend .border-radius;
            @extend .white-card;
            @extend .border-gray;
            padding: 2px 2px;
            margin: 0 5px;
        }
    }
}

.box-align-right{
    margin-left: auto;
}

.error{
    color: #f00;
    font-size: 12px;
}
.success{
    color: rgb(2, 141, 49);
    font-size: 12px;
}
.item-left{
    margin-left: 0;
}
.item-right{
    margin-left: auto;
}
.text-align-center{
    text-align: center;
}
.des{
    p{
        &:last-child{
            margin-bottom: 0px;
        }
    }
}
.order-info-top{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #f2f2f2;
    padding: 10px;
    .order-time{
        margin-left: auto;
    }
}

.admin{
    .status-links{
        border-bottom: 0px;
        min-height: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
       ul {
            margin-left: 0;
        }
    }
}