<section class="product-detsils-section">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Product details</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-content-section">
        <div class="container">
            <div class="product-details" *ngFor="let item of productDetails; let idx = index">
               <div class="custom-row">
                 <div class="product-details-img">
                    <img src="http://localhost:3200/upload/{{item.image}}" width="100%" alt="{{item.name}}" />
                 </div>
                 <div class="product-details-content">
                    <h4>{{item.name}}</h4>
                    <strong>Price:-<span>{{finallyPrice}}</span></strong>
                    <app-qty [itemCartPrice]="item.cart.cart_price" [itemQty]="item.cart.qty" [itemPrice]="item.price" [itemId]="item._id"></app-qty>
                    <div class="product-description">
                        <p>{{item.description}}</p>
                    </div>
                    <div class="message" class="{{className}}" *ngIf="show">
                        {{cartMessage}}
                    </div>
                    <div class="flex-start margin-top-2">
                        <app-add-to-cart-button [sendData]="item" (cartStatus)="getStatus($event)"></app-add-to-cart-button>
                        <button class="primary-btn item-right">Buy Now</button>
                    </div>
                </div>
               </div>
            </div>
        </div>
    </section>
</section>
