.product-details{
    .product-details-img{
        width: 50%;
        img{
            display: block;
        }
    }
    .product-details-content{
        width: 47%;
        margin-left: auto;
        h4{
            margin: 0px;
            padding: 0px;
            font-size: 2rem;
        }
        strong{
            color: #FE6C0B;
            font-size: 2rem;
        }
        p{
            margin: 0px;
        }
       
    }
}