<div class="container">
    <div class="title-row">
        <h1 class="title">User List</h1>
    </div>
    <div class="user-list">
        <div class="page-message page-message-error" *ngIf="showMessage === true">
           {{messageTxt}}
        </div>
        <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
            <thead>
                <tr>
                    <th scope="col" class="name">Name</th>
                    <th scope="col" class="weight">Weight</th>
                    <th scope="col" class="height">Height</th>
                    <th scope="col" class="gender">Gender</th>
                    <th scope="col" class="age">Age</th>
                    <th scope="col" class="bmr">BMR</th>
                    <th scope="col" class="action">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let userList of userList">
                    <th scope="row">{{userList.name}}</th>
                    <td data-label="Weight">{{userList.weight}}</td>
                    <td data-label="Height">{{userList.height}}</td>
                    <td data-label="Gender">{{userList.gender}}</td>
                    <td data-label="Age">{{userList.age}}</td>
                    <th scope="col">{{userList.bmr}}</th>
                    <td data-label="Action">
                       <div class="btn-set">
                            <a class="btn-secondary" (click)="viewButton(userList._id)">View</a>
                            <button type="button" (click)="openPop(userList._id)" class="btn btn-primary">Add Data</button>
                        </div> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

