<header class="main-header">
    <section class="header-top">
        <div class="full-container">
           <div class="custom-row">
             <div class="logo">
                <a href=""><img src="{{logoImage}}" alt="" /></a>
             </div>
             <div class="header-secondary-menu">
                <ul>
                    <li *ngIf="!this.authService.isLoggedIn"><a routerLink="sign-up" [routerLinkActive]="['active']">Sign up</a></li>
                    <li *ngIf="!this.authService.isLoggedIn"><a routerLink="login" [routerLinkActive]="['active']">Login</a></li>
                    <li class="bell-icon" *ngIf="this.authService.isLoggedIn"><a routerLink="message" [routerLinkActive]="['active']">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"/></svg>

                    </a></li>
                    <li  *ngIf="this.authService.isLoggedIn">
                        <a class="flex-center" routerLink="/profile/{{this.authService.loginUser.first_name}}">
                            <span><img  src="http://localhost:3200/upload/{{this.authService.loginUser.image}}" width="30px" alt="" /></span> {{this.authService.loginUser.first_name | titlecase}}
                        </a>
                        </li>
                    <li *ngIf="showCartButton && this.authService.isLoggedIn" class="header-cart-dropdown">
                        <button (click)="sAttributes.showCartDropDown = !sAttributes.showCartDropDown">Cart ({{itemCount}})</button>
                        <app-cart-drop-down *ngIf="sAttributes.showCartDropDown"></app-cart-drop-down>
                    </li>
                    <li  *ngIf="this.authService.isLoggedIn && this.authService.loginUser.user_type === 'Admin'"><a routerLink="/admin/categories">Categories</a></li>
                    <li *ngIf="this.authService.isLoggedIn" (click)="logout()"><a routerLink="/" >Logout</a></li>
                </ul>
             </div>
           </div>
        </div>
    </section>
    <section class="header-btm" *ngIf="this.authService.isLoggedIn && !isHomePage">
        <div class="full-container">
            <nav class="main-menu">
                <ul *ngIf="this.authService.loginUser.user_type === 'Admin'">
                    <li class="dashboard-menu">
                        <a routerLink="admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><i></i> Dashboard</a>
                     </li>
                    <li class="user-menu">
                       <a routerLink="admin/users" [routerLinkActive]="['active']"><i></i> User</a>
                    </li>
                    <li class="seller-menu">
                        <a routerLink="admin/seller" [routerLinkActive]="['active']"><i></i> Seller</a>
                     </li>
                     <li class="product-menu">
                        <a routerLink="admin/products" [routerLinkActive]="['active']"><i></i> Product</a>
                     </li>
                     <li class="product-menu">
                        <a routerLink="admin/orders" [routerLinkActive]="['active']"><i></i> Orders</a>
                     </li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="header-btm" *ngIf="isHomePage">
        <div class="full-container">
            <nav class="main-menu">
                <ul>
                    <li>
                        <a href="#">All</a>
                     </li>
                     <li>
                        <a href="#">Fashion</a>
                     </li>
                     <li>
                        <a href="#">Mobiles</a>
                     </li>
                </ul>
            </nav>
        </div>
    </section>
</header>
