.main-header{
    position: sticky;
    top: 0;
    z-index: 6;
}
.header-top{
    padding: 10px 0;
    .custom-row{
        align-items: center;
    }
    .logo{
        width: 166px;
        a{
            display: block;
            img{
                width: 100%;
                display: block;
            }
        }
    }
    .header-secondary-menu{
        margin-left: auto;
        ul{
            margin: 0px;
            padding: 0px;
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin: 0 0 0 20px;
                padding: 0px;
                a,
                button
                {
                    font-size: 16px;
                    border: 0px;
                    background: transparent;
                    padding: 0px;
                    cursor: pointer;
                }
                span{
                    img{
                        margin-right: 5px;
                        display: block;
                    }
                }
            }
        }
    }
}
.header-btm{
    .main-menu{
        ul{
            margin: 0px;
            padding: 10px 0;
            list-style: none;
            display: flex;
            align-items: center;
            li{
                margin: 0 10px 0 0;
                padding: 0px;
                a{
                    display: block;
                    color: #fff;
                    font-size: 15px;
                    padding:3px 10px;
                    border-radius: 5px;
                    i{
                        display: block;
                        width: 30px;
                        height: 30px;
                        margin: auto;
                        
                    }
                    &.active,
                    &:hover
                    {
                        background: #fff;
                        color: #FE6C0B;
                    }
                }
                &.dashboard-menu{
                    a{
                        i{
                           background: url(../../../../assets//img/nav-icons/communities_nav_icon.svg) no-repeat center center; 
                        }
                        &.active,
                        &:hover
                        {
                            i{
                                background: url(../../../../assets//img/nav-icons/communities_nav_icon_hover.svg) no-repeat center center; 
                             }
                        }
                    }
                }
                &.user-menu{
                    a{
                        i{
                           background: url(../../../../assets//img/nav-icons/users_nav_icon.svg) no-repeat center center; 
                        }
                        &.active,
                        &:hover
                        {
                            i{
                                background: url(../../../../assets//img/nav-icons/users_nav_icon_hover.svg) no-repeat center center; 
                             }
                        }
                    }
                }
                &.seller-menu{
                    a{
                        i{
                           background: url(../../../../assets//img/nav-icons/communities_nav_icon.svg) no-repeat center center; 
                        }
                        &.active,
                        &:hover
                        {
                            i{
                                background: url(../../../../assets//img/nav-icons/communities_nav_icon_hover.svg) no-repeat center center; 
                             }
                        }
                    }
                }
                &.product-menu{
                    a{
                        i{
                           background: url(../../../../assets//img/nav-icons/stores_nav_icon.svg) no-repeat center center; 
                        }
                        &.active,
                        &:hover
                        {
                            i{
                                background: url(../../../../assets//img/nav-icons/stores_nav_icon_hover.svg) no-repeat center center; 
                             }
                        }
                    }
                }
            }
        }
    }
}

.header-cart-dropdown{
    position: relative;
}

.bell-icon{
    a{
        display: flex;
        align-items: center;
        svg{
            width: 22px;
            height: 20px;
        }
     &.active{
        svg{
            fill: #FE6C0B;
        }
     }
    }
}