%hd-1 {
    font-size: (1.5rem);
   
    @include breakpoint(mobile){
        font-size: 1rem; 
    }
} 

%hd-2 {
    font-size: (1.2rem);
   
    @include breakpoint(mobile){
        font-size: 1rem; 
    }
} 

%ul-block{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

%ul-inline{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
}
.padding1rem{
    padding: 1rem;
}