<section class="get-auth-section">
    <div class="small-container">
        <div class="white-card border-radius gray-box-shadow">
            <div class="custom-row">
                <div class="get-auth-section--left get-auth-section--left--bg align-center">
                    <div class="get-auth-section--left--content ">
                        <div class="page-logo">
                            <img src="../../../assets/img/login-logo.svg" width="100%" />
                        </div>
                        <h4>Phasellus vehicula massa at erat fermentum pretium sed quis nunc</h4>
                    </div>
                </div>
                <div class="get-auth-section--right padding-2">
                    <h2>Sign In</h2>
                    <div class="custom_error" *ngIf="this.sAttributes.accountValidation === true">This Account status is Inactive.</div>
                    <div class="form" >
                        <form [formGroup]="signInForm" (ngSubmit)="submit()">
                        
                        <div class="input-item">
                            <input type="text" value="" placeholder="Email" formControlName="email" />
                            <div *ngIf="f.email.invalid && (f.email.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                            </div>
                            <div class="custom_error" *ngIf="this.sAttributes.emailValidation === true">This email address didn't match</div>
                        </div>
                        <div class="input-item">
                            <input type="password" value="" placeholder="Password"  formControlName="password" />
                            <div *ngIf="f.password.invalid && (f.password.dirty || submitted )"  class="custom_error">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                            <div class="custom_error" *ngIf="this.sAttributes.passwordValidation === true">This password didn't match</div>
                        </div>
                        <div class="form-submit justify-content-center">
                            <button class="secondary-btn">Sign In</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
