.profile-info-inner {
    position: relative;

    .profile-info-edit {
        width: 60%;
    }

    .edit-profile-btn {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .profile-info-txt {
        ul {
            margin: 0px;
            padding: 0px;
            list-style: none;

            li {
                margin: 0 0 1rem 0;
                padding: 0px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                font-size: 14px;

                span {
                    width: calc(20%);
                }

                strong {
                    width: calc(100% - 20%);

                }
            }
        }
    }
}