<div class="profile-info-section white-bg padding1rem">
    <div class="profile-info-inner">
        <button class="edit-profile-btn btn-secondary" (click)="isEditViewActive=!isEditViewActive">{{!isEditViewActive
            ? 'Info' : 'Edit'}}</button>
        <div *ngIf="!isEditViewActive; then profileEdit else profileInfo"></div>
    </div>
</div>

<ng-template #profileEdit>
    <div class="profile-info-edit">
        <form [formGroup]="profileEditForm" (ngSubmit)="update()">
            <div class="input-field">
                <label>Name</label>
                <input type="text" placeholder="Name" formControlName="name" />
            </div>
            <div class="input-field">
                <label>Email</label>
                <input type="text" placeholder="Email" formControlName="email" />
            </div>
            <div class="input-field">
                <label>weight</label>
                <input type="text" placeholder="Weight" formControlName="weight" />
            </div>
            <div class="input-field">
                <label>Height</label>
                <input type="text" placeholder="Height" formControlName="height" />
            </div>
            <div class="input-field">
                <label>Gender</label>
                <select class="selectbox" formControlName="gender">
                    <option disabled selected>Select gender</option>
                    <option>male</option>
                    <option>female</option>
                </select>
            </div>
            <div class="input-field">
                <label>Age</label>
                <input type="text" placeholder="Age" formControlName="age" bsDatepicker />
            </div>
            <div class="input-field btn-set--right">
                <button class="btn-primary">Update</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #profileInfo>
    <div class="profile-info-txt">
        <ul *ngFor="let displayProfileInfo of getProfileInfo">
            <li>
                <span>Name</span>
                <strong>{{displayProfileInfo.name}}</strong>
            </li>
            <li>
                <span>Email</span>
                <strong>{{displayProfileInfo.email}}</strong>
            </li>
            <li>
                <span>Age</span>
                <strong>{{displayProfileInfo.age}}</strong>
            </li>
            <li>
                <span>Gender</span>
                <strong>{{displayProfileInfo.gender}}</strong>
            </li>
            <li>
                <span>Weight</span>
                <strong>{{displayProfileInfo.weight}}</strong>
            </li>
            <li>
                <span>Height</span>
                <strong>{{displayProfileInfo.height}}</strong>
            </li>
            <li>
                <span>BMR</span>
                <strong>{{displayProfileInfo.bmr}}</strong>
            </li>
        </ul>
    </div>
</ng-template>