body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

a {
    text-decoration: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.full-width {
    width: 100%;
    padding: 0 1rem;
}

.width {
    max-width: 1024px;
    padding: 0 1rem;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

img {
    display: block;
}

.custom_error {
    margin-top: 5px;
    font-size: 13px;
    color: #df0d0d;
    display: block;
}

.pages__filter {
    background: url(./assets/img/bg__img__1.jpg) repeat center center;
    padding: 1.5rem 1rem;
    border-bottom: 1px #c6c6c6 solid;
}

.button {
    background-color: #fff;
    font-size: 14px;
    color: #FE6C0B;
    border-radius: 5px;
    display: inline-block;
    font-weight: 300;
    border: 1px #FE6C0B solid;
    padding: 0.5rem 0.7rem;
    cursor: pointer;

    &:hover {
        background-color: #FE6C0B;
        color: #fff;
    }

    &.cancel {
        background-color: #FE6C0B;
        color: #fff;
    }
}

.margin-left-auto {
    margin-left: auto;
}

.center {
    text-align: center;
}

.icon {
    display: flex;

    i {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.not-found {
    background: #f1f1f1;
    padding: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.input-field {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0px;
    }

    input[type=text],
    input[type=password],
    input[type=number],
    input[type=email],
    input[type=googleInputLocation],
    textarea {
        background-color: #fff;
        width: 100%;
        height: auto;
        border-radius: 4px;
        border: 1px #C4C4C4 solid;
        margin: 0;
        padding: 1rem;
        display: block;
        color: #333333;
        font-size: 1rem;
        font-weight: 300;
        text-align: left;
        resize: none;
        font-family: 'Roboto', sans-serif;
    }
}

.action-check {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;

    li {
        margin: 0 10px 0 0;
        padding: 0px;

        &:last-child {
            margin-right: 0px;
        }

        button {
            background: url(assets/img/discount_type_radio.png) no-repeat 0 0;
            border: 0px;
            cursor: pointer;
            padding: 4px 0 4px 29px;
            font-size: 14px;

            &:hover,
            &.active {
                color: #FE6C0B;
                background: url(assets/img/discount_type_radio.png) no-repeat 0 -58px;
            }
        }
    }
}

.pages__filter__bottom {
    padding-top: 0.5rem;
}

.page-width {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
}

.pagination-box {
    margin-bottom: 1rem;

    ul.pagination {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 0 5px;
            padding: 0px;

            a {
                display: block;
                padding: 5px 5px;
                font-size: 14px;
                min-width: 25px;
                text-align: center;

            }

            &.pagination-page {
                background: #a5a5a5;

                a {
                    color: #fff;
                }
            }

            &.active {
                a {
                    color: #FE6C0B;
                }
            }
        }
    }
}