<section class="admin admin-user-page  padding-btm-2">
    <section class="page-filter-section">
        <div class="container">
            <div class="page-filter-section-top">
                <div class="custom-row">
                    <div class="page-filter-section-top-left">
                        <h1>Users</h1>
                    </div>
                    <div class="page-filter-section-top-right">
                        <div class="search">
                            <app-search class="global-date" (dateSearchTriggered)="searchByText($event)"
                                [panelClass]="'vimal'" [placeholder]="'Search by email'"></app-search>

                        </div>
                    </div>
                </div>
            </div>

            <div class="page-filter-section-btm">
                <div class="custom-row">
                    <div class="page-filter-section-btm-left">
                        <div class="status-links">
                            <ul>
                                <li><button [ngClass]="btnActive === 'active' ? 'active':'' " (click)="sendUserStatus('active')">Active ({{activeCount}})</button></li>
                                <li><button [ngClass]="btnActive === 'inactive' ? 'active':'' " (click)="sendUserStatus('inactive')">Deleted ({{inactiveCount}})</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="page-filter-section-btm-right"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-content-section">
        <div class="container">
            <div class="user-list">
                 <div class="not-found-section" *ngIf="this.sAttributes.messageShow">{{this.sAttributes.notFoundMessage}}</div>
                 <div class="seller-user-list padding-1 white-card margin-top-1 gray-box-shadow" *ngFor="let items of customerList">
                    <div class="flex-card">
                        <div class="flex-card-img">
                            <img src="http://localhost:3200/upload/{{items.image}}" width="100%"
                            alt="{{items.name.first_name}}" />
                        </div> 
                        <div class="flex-card-content">
                            <h3>{{items.name.first_name}} {{items.name.last_name}}</h3>
                            <ul>
                                <li>{{items.email}}</li>
                                <li>{{items.phone_number}}</li>
                            </ul>
                            <p>{{items.address}}</p>
                        </div>
                    </div>
                    
    
                </div>
            </div>
        </div>
    </section>


   
</section>