<section class="profile-pages  padding-btm-2">
    <app-user [userData]="userData" *ngIf="memberTypeUser"></app-user>
    <app-seller [userData]="userData" *ngIf="memberTypeSeller"></app-seller>
    <app-admin [userData]="userData" *ngIf="memberTypeAdmin"></app-admin>
</section>