<div class="main-form">
    <form [formGroup]="addProductForm" (ngSubmit)="submit()">
        <div class="input-item">
            <input type="text" value="" placeholder="Name" formControlName="name" />
            <div *ngIf="f.name.invalid && (f.name.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.name.errors.required">Product Name is required</div>
            </div>
        </div>

        <div class="input-item">
            <input type="text" value="" placeholder="price" formControlName="price" />
            <div *ngIf="f.price.invalid && (f.price.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.price.errors.required">Product Price is required</div>
            </div>
        </div>

        <div class="input-item">
            <textarea  placeholder="description" formControlName="description"></textarea>
            <div *ngIf="f.description.invalid && (f.description.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.description.errors.required">Product Description is required</div>
            </div>
        </div>

        <div class="input-item">
            <input type="file" name="image" ng2FileSelect [uploader]="uploader" (change)="onImageSelect($event)" accept="image/*">
        </div>
          
        <div class="input-item">
            <select class="cus_select" formControlName="categorie_id">
                <option value="" selected> Select Categorie </option>
                <option *ngFor="let option of optionList" value="{{option._id}}">
                    {{ option.name}}
                </option>
            </select>
            <div *ngIf="f.categorie_id.invalid && (f.categorie_id.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.categorie_id.errors.required">Product Categorie is required</div>
            </div>
        </div>
        <div class="input-item">
            <label>Status</label>
            <div class="status-input" >
                    <input class="css-checkbox" id="demo_opt_1" value="active" type="radio" name="status" formControlName="status" checked="checked">
                    <label for="demo_opt_1">Active</label>
                    <input class="css-checkbox" id="demo_opt_2" value="inactive" type="radio"  name="status" formControlName="status" >
                    <label for="demo_opt_2">Inactive 2</label>
            </div>
            <div *ngIf="f.status.invalid && (f.status.dirty || submitted )"  class="custom_error">
                <div *ngIf="f.status.errors.required">Product Status is required</div>
            </div>
        </div>
        
        <div class="form-submit justify-content-center">
            
            <div class="space-20"></div>
            <button class="secondary-btn">Add</button>
        </div>
    </form>
</div>
