<!-- <section class="page-filter-section">
    <div class="container">
        <div class="page-filter-section-top">
            <div class="custom-row flex-center">
                <div class="page-filter-section-top-left">
                    <h1>{{userData.first_name | titlecase}} {{userData.last_name | titlecase}}</h1>
                </div>
                <div class="page-filter-section-top-right">
                    <div class="status-links">
                        <ul class="flex-center-right">
                            <li *ngFor="let userStatusLinks of userStatusLinks; let idx = index">
                                <button (click)="toggle(idx)">{{userStatusLinks.label}}</button>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-content-section">
    <div class="container">
        <app-user-info *ngIf="index === -1 || index === 0"></app-user-info>
        <div *ngIf="index === 1">sdsadsad</div>
        <div *ngIf="index === 2">uyuy sdsadsad</div>
    </div>
</section> -->


<section class="page-filter-section">
    <div class="container">
        <div class="page-filter-section-top">
            <div class="custom-row flex-center">
                <div class="page-filter-section-top-left">
                    <h1>{{userData.first_name | titlecase}} {{userData.last_name | titlecase}}</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="account-page">
    <div class="container">

        <div class="custom-row">
            <div class="account-page-left">
                <ul>
                    <li *ngFor="let userStatusLinks of userStatusLinks; let idx = index">
                        <button (click)="toggle(idx)">{{userStatusLinks.label}}</button>
                    </li>

                </ul>
            </div>
            <div class="account-page-rigth">
                <app-user-info *ngIf="index === -1 || index === 0"></app-user-info>
                <app-order-list *ngIf="index === 1"></app-order-list>
            </div>
        </div>
    </div>
</div>