.full-container{
    max-width: 100%;
    padding:0;
}
.admin-page{
    display: flex;
    background: #f3f3f3;
    .admin-page-left{
       width: 250px;
       ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0px;
            border-bottom: 1px solid #000;
            button{
                display: block;
                color: #000;
                font-size: 18px;
                padding: 1rem;
                width: 100%;
                font-weight: 300;
                border: 0px;
                text-align: left;
                cursor: pointer;
                &.active{
                  background-color: #b7e3fb;
                }
            }
        }
    }
}
    .admin-page-right{
        width: calc(100% - 250px);
        padding: 15px;
        .admin-top{
            display: flex;
            align-items: center;
            h1{
                margin: 0px;
                padding: 0px;
                font-size: 20px;
                color: #000;
                font-weight: 500;
            }
            .admin-top-right{
                margin-left: auto;
                
            }
        }
        .admin-btm{
            padding-top: 15px;
        }
     }
}

.sectionhide{
    display: none;
}
.sectionshow{
    display: block;
}

.add-new-section{
    background-color: #fff;
    border: 1px #DEDEDE solid;
    padding: 15px;
    border-radius: 5px;
    h2{
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        color: #000;
        font-weight: 500;
    }
}

.container-50{
    width: 50%;
}
.add-new-form{
    padding-top: 15px;
}

.input-submit{
    margin-top: 15px;
    text-align: center;
    button{
        width: auto;
        display: inline-block;
    }
}
.input-item{
    width: 100%;
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    textarea,
    select {
        border: 1px var(--border-border-color) solid;
        font-size: 1rem;
        color: var(--input-text-color);
        background: transparent;
        -webkit-appearance: none;
        border-radius: 5px;
        width: 100%;
        padding: 1rem;
       
        &:disabled {
            opacity: 0.5;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-style: normal;
            color: var(--input-text-color);
        }  
    }
}
