<div class="date-input" [ngClass]="panelClass">
    <form >
        <input type="text" 
            [placeholder]="placeholder" 
            [formControl]="dateSearchControl" 
        />
    </form>
    
</div>